uc-start-from {
  --activity-desired-w: 600px;
  --activity-desired-mobile-h: 100%;

  display: grid;
  grid-template-columns: min-content auto;
  gap: var(--gap-mid);
  padding: var(--gap-mid);
  height:  100%;
}
