uc-img {
  --uc-img-pubkey: '364c0864158c27472ffe';
  --uc-img-test: 'TEST';
  display: contents;
}
uc-img > img {
  transition: 1s;
}
uc-img > img[unresolved] {
  transition: 1s;
  opacity: 0;
  transform: scale(.8);
}