lr-simple-btn {
  position: relative;
  display: inline-flex;
}

lr-simple-btn button {
  height: auto;
  gap: 0.5em;
  padding: var(--uc-simple-btn-padding);
  background-color: var(--uc-simple-btn);
  color: var(--uc-simple-btn-foreground);
  font-size: var(--uc-simple-btn-font-size);
  font-family: var(--uc-simple-btn-font-family);
}

lr-simple-btn button lr-icon {
  width: auto;
  height: auto;
}

lr-simple-btn button lr-icon svg {
  width: 0.9em;
  height: 0.9em;
}

lr-simple-btn button:hover {
  background-color: var(--uc-simple-btn-hover);
}

lr-simple-btn > lr-drop-area {
  display: contents;
}

lr-simple-btn .visual-drop-area {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--uc-simple-btn-padding);
  background-color: transparent;
  color: transparent;
  font-size: var(--uc-simple-btn-font-size);
  border: 1px dashed var(--uc-simple-btn-foreground);
  border-radius: inherit;
  opacity: 0;
  transition: opacity var(--uc-transition);
}

lr-simple-btn > lr-drop-area[drag-state='active'] .visual-drop-area {
  opacity: 1;
}
lr-simple-btn > lr-drop-area[drag-state='inactive'] .visual-drop-area {
  opacity: 0;
}
lr-simple-btn > lr-drop-area[drag-state='near'] .visual-drop-area {
  opacity: 1;
}
lr-simple-btn > lr-drop-area[drag-state='over'] .visual-drop-area {
  opacity: 1;
}
