lr-external-source {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--uc-background);
  overflow: hidden;
}

lr-modal lr-external-source {
  width: min(calc(var(--uc-dialog-max-width) - var(--uc-padding) * 2), calc(100vw - var(--uc-padding) * 2));
  height: var(--modal-content-height-fill, 100%);
  max-height: var(--modal-max-content-height);
}

lr-external-source > .content {
  position: relative;
  display: grid;
  flex: 1;
  grid-template-rows: 1fr min-content;
}

@media only screen and (max-width: 430px) {
  lr-external-source {
    width: calc(100vw - var(--uc-padding) * 2);
    height: var(--modal-content-height-fill, 100%);
  }
}

lr-external-source iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

lr-external-source .iframe-wrapper {
  overflow: hidden;
}

lr-external-source .toolbar {
  display: grid;
  grid-gap: var(--uc-padding);
  grid-template-columns: max-content 1fr max-content max-content;
  align-items: center;
  width: 100%;
  padding: var(--uc-padding);
  border-top: 1px solid var(--uc-border);
}

lr-external-source .back-btn {
  padding-left: 0;
}

lr-external-source .selected-counter {
  display: flex;
  grid-gap: var(--uc-padding);
  align-items: center;
  justify-content: space-between;
  padding: var(--uc-padding);
  color: var(--uc-muted-foreground);
}
