uc-external-source {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--uc-background);
  overflow: hidden;
  position: relative;
}

[uc-modal] > dialog:has(uc-external-source[active]) {
  width: 100%;
  height: 100%;
}

uc-external-source > .uc-content {
  position: relative;
  display: grid;
  flex: 1;
  grid-template-rows: 1fr min-content;
}

uc-external-source iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

uc-external-source .uc-iframe-wrapper {
  overflow: hidden;
}

uc-external-source .uc-toolbar {
  display: flex;
  width: 100%;
  grid-gap: var(--uc-padding);
  align-items: center;
  justify-content: space-between;
  padding: var(--uc-padding);
  border-top: 1px solid var(--uc-border);
}

uc-external-source .uc-back-btn {
  padding-left: 0;
}

uc-external-source .uc-selection-status-box {
  color: var(--uc-foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

uc-external-source .uc-selection-status-box button {
  color: var(--uc-primary);
  height: auto;
  padding: 0;
  background: none;
}

uc-external-source .uc-selection-status-box button:hover {
  text-decoration: underline;
}

uc-external-source uc-activity-header {
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  pointer-events: none;
}

uc-external-source uc-activity-header .uc-close-btn {
  pointer-events: auto;
}

uc-external-source .uc-done-btn > span.uc-hidden {
  visibility: hidden;
  pointer-events: none;
}

uc-external-source .uc-done-btn > uc-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
