lr-custom-source-btn {
  --l10n-src-type-custom: 'CUSTOM TEXT';

  display: flex;
  align-items: center;
  padding-right: 1em;
  border-bottom: var(--border-light);
  user-select: none;
  cursor: pointer;
}
lr-custom-source-btn:last-of-type {
  border-bottom: none;
}

lr-custom-source-btn lr-icon {
  display: inline-flex;
  flex-grow: 1;
  min-width: var(--ui-size);
  justify-content: center;
}

lr-custom-source-btn[type='local'] > .txt::after {
  content: var(--l10n-local-files);
}
lr-custom-source-btn[type='camera'] > .txt::after {
  content: var(--l10n-camera);
}
lr-custom-source-btn[type='url'] > .txt::after {
  content: var(--l10n-from-url);
}
lr-custom-source-btn[type='other'] > .txt::after {
  content: var(--l10n-other);
}

lr-custom-source-btn .txt {
  width: 100%;
  height: 100%;
  height: var(--ui-size);
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  box-sizing: border-box;
  white-space: nowrap;
}
