lr-select {
  display: inline-flex;
}

lr-select > button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-right: 0 !important; /* todo: get rid of important */
  color: var(--clr-btn-txt-secondary);
  background-color: var(--clr-btn-bgr-secondary);
  box-shadow: var(--shadow-btn-secondary);
}

lr-select > button > select {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
