uc-select {
  display: inline-flex;
}

uc-select select {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--uc-button-size);
  padding: 0 14px;
  font-size: 1em;
  font-family: inherit;
  white-space: nowrap;
  border: none;
  border-radius: var(--uc-radius);
  cursor: pointer;
  user-select: none;
  transition: background-color var(--uc-transition);
  color: var(--uc-secondary-foreground);
  background-color: var(--uc-secondary);
}
