
:host {
  display: block;
  --modal-header-opacity: 1;
  --modal-header-height: var(--size-panel-heading);
  --modal-toolbar-height: var(--size-panel-heading);

  --transparent-pixel: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=)
}

:host(.editor_ON) {
  --modal-header-opacity: 0;
  --modal-header-height: 0px;
  --modal-toolbar-height: calc(var(--size-panel-heading) * 2);
  --viewer-border-top-radius: var(--border-radius-base);
}

:host(.editor_OFF) {
  --modal-header-opacity: 1;
  --modal-header-height: var(--size-panel-heading);
  --modal-toolbar-height: var(--size-panel-heading);
  --viewer-border-top-radius: 0px;
}

:host .wrapper {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: minmax(var(--l-min-img-height), var(--l-max-img-height)) max-content;
  overflow: hidden;
  transition: 0.3s;
}

:host .wrapper_mobile {
  --l-min-img-height: var(--modal-toolbar-height);
  --l-max-img-height: 1fr;
  --l-edit-button-width: 70px;
  --l-toolbar-horizontal-padding: var(--gap-min);
}

:host .wrapper_desktop {
  --l-min-img-height: var(--modal-toolbar-height);
  --l-max-img-height: 450px;
  --l-edit-button-width: 120px;
  --l-toolbar-horizontal-padding: var(--gap-mid-1);
}

:host .viewport {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

:host .image {
  --viewer-image-opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  user-select: none;
  opacity: var(--viewer-image-opacity);
  transform: scale(1);
  box-sizing: border-box;
  z-index: 10;
  pointer-events: auto;
  background-color: var(--color-image-background);
}

:host .image_visible_viewer {
  transition: opacity var(--transition-duration-3) ease-in-out,
    transform var(--transition-duration-4);
}

:host .image_hidden_to_cropper {
  pointer-events: none;
  --viewer-image-opacity: 0;
  background-image: var(--transparent-pixel);
  transform: scale(1);
  transition: transform var(--transition-duration-4),
    opacity var(--transition-duration-3) steps(1, jump-end);
}

:host .image_hidden_effects {
  pointer-events: none;
  --viewer-image-opacity: 0;
  transform: scale(1);
  transition: opacity var(--transition-duration-3) cubic-bezier(0.5, 0, 1, 1),
    transform var(--transition-duration-4);
}

:host .image_container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-image-background);
  transition: var(--transition-duration-3);
}

:host .toolbar {
  position: relative;
  height: var(--modal-toolbar-height);
  transition: 0.3s;
}

:host .tb_block {
  display: inline-flex;
  gap: var(--gap-mid-1);
}

:host .tb_block_align_right {
  justify-content: flex-end;
}

:host .toolbar_content {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  min-height: var(--size-panel-heading);
  background-color: var(--color-fill-contrast);
  box-sizing: border-box;
}

:host .toolbar_content__viewer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--l-toolbar-horizontal-padding);
  padding-right: var(--l-toolbar-horizontal-padding);
  height: var(--size-panel-heading);
}

:host .toolbar_content__editor {
  display: flex;
}

:host .list_btn {
  --opacity-effect: 0.4;
  color: var(--color-primary-accent);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--size-touch-area);
  width: var(--size-touch-area);
  cursor: pointer;
  opacity: var(--opacity-effect);
  transition: opacity var(--transition-duration-2);
}

:host .list_btn__prew {
  transform: scaleX(-1);
}

:host .info_pan {
  position: absolute;
  user-select: none;
}

:host .file_type_outer {
  position: absolute;
  user-select: none;
  z-index: 2;
  display: flex;
  transform: translateX(-40px);
  max-width: 120px;
}

:host .file_type {
  padding: 4px 0.8em;
}

:host .modal {
  --size-modal-width: 840px;
}

:host .non_image {
  transition: var(--transition-duration-3);
  display: block;
  width: 100%;
  height: 100%;
}

:host .non_image_visible {
  transform: scale(1);
  opacity: 1;
}

:host .non_image_hidden {
  transform: scale(0.95);
  opacity: 0;
}

:host .network_problems_splash {
  background-color: var(--color-fill-contrast);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
}

:host .network_problems_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

:host .network_problems_icon {
  background-color: rgba(var(--rgb-fill-shaded));
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(var(--rgb-text-base), 0.6);
}

:host .network_problems_text {
  margin-top: var(--gap-max);
  font-size: var(--font-size-ui);
}

:host .network_problems_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-panel-heading);
}

crop-frame .svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: inherit;
  transition: var(--transition-duration-3);
  border-top-left-radius: var(--border-radius-base);
  border-top-right-radius: var(--border-radius-base);
}

crop-frame .thumb {
  --idle-color-rgb: var(--color-text-base);
  --hover-color-rgb: var(--color-primary-accent);
  --focus-color-rgb: var(--color-primary-accent);
  --down-color-rgb: var(--color-primary-accent);
  color: var(--color-effect);
  transition: color var(--transition-duration-3),
    opacity var(--transition-duration-3);
}

crop-frame .thumb--visible {
  pointer-events: auto;
  opacity: 1;
}

crop-frame .thumb--hidden {
  pointer-events: none;
  opacity: 0;
}

crop-frame .guides {
  transition: var(--transition-duration-3);
}

crop-frame .guides--hidden {
  opacity: 0;
}

crop-frame .guides--semi-hidden {
  opacity: 0.2;
}

crop-frame .guides--visible {
  opacity: 1;
}

editor-button-control,
editor-crop-button-control,
editor-filter-control,
editor-operation-control {
  --l-base-min-width: 40px;
  --l-base-height: var(--l-base-min-width);
  --opacity-effect: var(--idle-opacity);
  --color-effect: var(--idle-color-rgb);
  --filter-effect: var(--idle-filter);
  --idle-color-rgb: var(--rgb-text-base);
  --idle-opacity: 0.05;
  --idle-filter: 1;
  --hover-color-rgb: var(--idle-color-rgb);
  --hover-opacity: 0.08;
  --hover-filter: 0.8;
  --down-color-rgb: var(--hover-color-rgb);
  --down-opacity: 0.12;
  --down-filter: 0.6;
  outline: none;
  position: relative;
  display: grid;
  grid-template-columns: var(--l-base-min-width) auto;
  align-items: center;
  cursor: pointer;
  height: var(--l-base-height);
  transition: var(--l-width-transition);
  color: rgba(var(--idle-color-rgb));
}

editor-button-control .active,
editor-operation-control .active,
editor-crop-button-control .active,
editor-filter-control .active {
  --idle-color-rgb: var(--rgb-primary-accent);
}

editor-button-control .not_active,
editor-operation-control .not_active,
editor-crop-button-control .not_active,
editor-filter-control .not_active {
  --idle-color-rgb: var(--rgb-text-base);
}

editor-button-control .before,
editor-operation-control .before,
editor-crop-button-control .before,
editor-filter-control .before {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  transition: var(--transition-duration-3);
  background-color: rgba(var(--color-effect), var(--opacity-effect));
  border-radius: var(--border-radius-editor);
}

editor-button-control .icon,
editor-operation-control .icon,
editor-crop-button-control .icon,
editor-filter-control .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

editor-button-control .title,
editor-operation-control .title,
editor-crop-button-control .title,
editor-filter-control .title {
  text-transform: uppercase;
  padding-right: var(--gap-mid-1);
  letter-spacing: 1.004px;
  font-size: 0.7em;
}

editor-filter-control .preview {
  position: absolute;
  width: 100%;
  height: var(--l-base-height);
  left: 0px;
  right: 0px;
  border-radius: var(--border-radius-editor);
  background-repeat: no-repeat;
  background-size: contain;
  transition: var(--transition-duration-3);
  z-index: 1;
  opacity: 0;
  filter: brightness(var(--filter-effect));
}

editor-filter-control .original-icon {
  color: var(--color-text-base);
  opacity: 0.3;
}

editor-image-cropper {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  touch-action: none;
  z-index: 10;
}

editor-image-cropper.active_from_editor {
  transition: transform var(--transition-duration-4)
      cubic-bezier(0.37, 0, 0.63, 1) 0.4s,
    opacity var(--transition-duration-3);
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translate(0px, 0px);
}

editor-image-cropper.active_from_viewer {
  transition: transform var(--transition-duration-4)
      cubic-bezier(0.37, 0, 0.63, 1) 0.4s,
    opacity var(--transition-duration-3);
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translate(0px, 0px);
}

editor-image-cropper.inactive_to_editor {
  transition: transform var(--transition-duration-4)
      cubic-bezier(0.37, 0, 0.63, 1),
    opacity var(--transition-duration-3)
      calc(var(--transition-duration-3) + 0.05s);
  opacity: 0;
  pointer-events: none;
}

editor-image-cropper.inactive_instant {
  transition: opacity var(--transition-duration-2);
  opacity: 0;
  pointer-events: none;
}

editor-image-cropper .canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

editor-image-fader {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

editor-image-fader.active_from_viewer {
  opacity: 1;
  pointer-events: auto;
  transition: transform var(--transition-duration-4),
    opacity var(--transition-duration-3) steps(1, jump-start);
  z-index: 3;
  transform: scale(1);
}

editor-image-fader.active_from_cropper {
  opacity: 1;
  pointer-events: auto;
  transition: transform var(--transition-duration-4),
    opacity var(--transition-duration-3) steps(1, jump-end);
  z-index: 3;
  transform: scale(1);
}

editor-image-fader.inactive_to_cropper {
  opacity: 0;
  pointer-events: none;
  transition: transform var(--transition-duration-4),
    opacity var(--transition-duration-3) steps(1, jump-end);
  transform: scale(1);
  z-index: 3;
}

editor-image-fader.inactive_rough {
  transform: scale(1);
}

editor-image-fader .image {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  user-select: none;
  content-visibility: auto;
  transform: scale(1);
}

editor-image-fader .image--preview {
  transform: scale(1);
  opacity: 0;
  transition: var(--transition-duration-3);
  background-color: var(--color-image-background);
  border-top-left-radius: var(--border-radius-base);
  border-top-right-radius: var(--border-radius-base);
}

editor-scroller {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
}

editor-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 66px;
  align-items: center;
}

editor-toolbar {
  position: relative;
  height: 100%;
  width: 100%;
}

editor-toolbar.mobile {
  --l-tab-gap: var(--gap-mid-1);
  --l-slider-padding: var(--gap-min);
  --l-controls-padding: var(--gap-min);
}

editor-toolbar.desktop {
  --l-tab-gap: calc(var(--gap-mid-1) + var(--gap-max));
  --l-slider-padding: var(--gap-mid-1);
  --l-controls-padding: var(--gap-mid-1);
}

editor-toolbar .toolbar-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

editor-toolbar .sub-toolbar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: opacity var(--transition-duration-3) ease-in-out,
    transform var(--transition-duration-3) ease-in-out,
    visibility var(--transition-duration-3) ease-in-out;
  background-color: var(--color-fill-contrast);
}

editor-toolbar .sub-toolbar--visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

editor-toolbar .sub-toolbar--top-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}

editor-toolbar .sub-toolbar--bottom-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
}

editor-toolbar .controls-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--l-controls-padding);
  padding-right: var(--l-controls-padding);
}

editor-toolbar .tab-toggles {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0px var(--l-tab-gap);
  height: 100%;
  align-items: center;
}

editor-toolbar .tab-toggles_indicator {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: var(--size-touch-area);
  height: 2px;
  background-color: var(--color-primary-accent);
  transform: translateX(0px);
  transition: transform var(--transition-duration-3);
}

editor-toolbar .tab-content-row {
  position: relative;
}

editor-toolbar .tab-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  content-visibility: auto;
  display: flex;
  overflow: hidden;
}

editor-toolbar .tab-content--visible {
  opacity: 1;
  pointer-events: auto;
}

editor-toolbar .tab-content--hidden {
  opacity: 0;
  pointer-events: none;
}

editor-toolbar .controls-list_align {
  display: grid;
  grid-template-areas: '. inner .';
  grid-template-columns: 1fr auto 1fr;
  padding-left: var(--gap-max);
  box-sizing: border-box;
  min-width: 100%;
}

editor-toolbar .controls-list_inner {
  grid-area: inner;
  display: grid;
  grid-auto-flow: column;
  grid-gap: calc((var(--gap-min) - 1px) * 3);
}

editor-toolbar .controls-list_last-item {
  margin-right: var(--gap-max);
}

editor-toolbar .filter-tooltip_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

editor-toolbar .filter-tooltip_wrapper {
  position: absolute;
  top: calc(-100% - var(--gap-mid-2));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
}

editor-toolbar .filter-tooltip {
  background-color: var(--color-text-accent-contrast);
  color: var(--color-text-base);
  border-radius: var(--border-radius-editor);
  text-transform: uppercase;
  padding-left: var(--gap-min);
  padding-right: var(--gap-min);
  padding-top: calc(var(--gap-min) / 2);
  padding-bottom: calc(var(--gap-min) / 2);
  font-size: 0.7em;
  transition: var(--transition-duration-3);
  opacity: 0;
  z-index: 3;
  letter-spacing: 1px;
}

editor-toolbar .filter-tooltip_visible {
  opacity: 1;
  transform: translateY(0px);
}

editor-toolbar .filter-tooltip_hidden {
  opacity: 0;
  transform: translateY(100%);
}

editor-toolbar .slider {
  padding-left: var(--l-slider-padding);
  padding-right: var(--l-slider-padding);
}

uc-btn-ui {
  --filter-effect: var(--idle-brightness);
  --opacity-effect: var(--idle-opacity);
  --color-effect: var(--idle-color-rgb);
  --l-transition-effect: var(
    --css-transition,
    color var(--transition-duration-2),
    filter var(--transition-duration-2)
  );
  display: inline-flex;
  align-items: center;
  height: var(--css-height, var(--size-touch-area));
  padding-right: var(--css-padding-right, var(--gap-mid-1));
  padding-left: var(--css-padding-left, var(--gap-mid-1));
  color: rgba(var(--color-effect), var(--opacity-effect));
  filter: brightness(var(--filter-effect));
  cursor: pointer;
  user-select: none;
  outline: none;
  box-sizing: var(--css-box-sizing, border-box);
  transition: var(--l-transition-effect);
}

uc-btn-ui .text {
  white-space: nowrap;
}

uc-btn-ui .icon {
  color: rgba(var(--color-effect), var(--opacity-effect));
  filter: brightness(var(--filter-effect));
  transition: var(--l-transition-effect);
  display: flex;
  justify-content: center;
  align-items: center;
}

uc-btn-ui .icon_left {
  margin-left: 0px;
  margin-right: var(--gap-mid-1);
}

uc-btn-ui .icon_right {
  margin-left: var(--gap-mid-1);
  margin-right: 0px;
}

uc-btn-ui .icon_single {
  margin-left: 0px;
  margin-right: 0px;
}

uc-btn-ui .icon_hidden {
  margin: 0;
  display: none;
}

uc-btn-ui.primary {
  --idle-color-rgb: var(--rgb-primary-accent);
  --idle-brightness: 1;
  --idle-opacity: 0.6;
  --hover-color-rgb: var(--idle-color-rgb);
  --hover-brightness: 1;
  --hover-opacity: 1;
  --down-color-rgb: var(--hover-color-rgb);
  --down-brightness: 0.75;
  --down-opacity: 1;
  --active-color-rgb: var(--rgb-primary-accent);
  --active-brightness: 1;
  --active-opacity: 1;
}

uc-btn-ui.boring {
  --idle-color-rgb: var(--rgb-text-base);
  --idle-brightness: 1;
  --idle-opacity: 0.6;
  --hover-color-rgb: var(--rgb-text-base);
  --hover-brightness: 1;
  --hover-opacity: 1;
  --down-color-rgb: var(--hover-color-rgb);
  --down-brightness: 1;
  --down-opacity: 1;
  --active-color-rgb: var(--rgb-primary-accent);
  --active-brightness: 1;
  --active-opacity: 1;
}

uc-btn-ui.default {
  --idle-color-rgb: var(--rgb-text-base);
  --idle-brightness: 1;
  --idle-opacity: 0.6;
  --hover-color-rgb: var(--rgb-primary-accent);
  --hover-brightness: 1;
  --hover-opacity: 1;
  --down-color-rgb: var(--hover-color-rgb);
  --down-brightness: 0.75;
  --down-opacity: 1;
  --active-color-rgb: var(--rgb-primary-accent);
  --active-brightness: 1;
  --active-opacity: 1;
}

line-loader-ui {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  opacity: 0.5;
  z-index: 9999;
}

line-loader-ui .inner {
  height: 100%;
  max-width: 200px;
  width: 25%;
}

line-loader-ui .line {
  background-color: var(--color-primary-accent);
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform: translateX(-100%);
}

slider-ui {
  --l-thumb-size: 24px;
  --l-zero-dot-size: 5px;
  --l-zero-dot-offset: 2px;
  --idle-color-rgb: var(--rgb-text-base);
  --hover-color-rgb: var(--rgb-primary-accent);
  --down-color-rgb: var(--rgb-primary-accent);
  --color-effect: var(--idle-color-rgb);
  --l-color: rgb(var(--color-effect));
  width: 100%;
  height: calc(
    var(--l-thumb-size) + (var(--l-zero-dot-size) + var(--l-zero-dot-offset)) *
      2
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

slider-ui .thumb {
  position: absolute;
  left: 0px;
  width: var(--l-thumb-size);
  height: var(--l-thumb-size);
  background-color: var(--l-color);
  border-radius: 50%;
  transform: translateX(0px);
  opacity: 1;
  transition: opacity var(--transition-duration-2);
}

slider-ui .steps {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding-left: calc(var(--l-thumb-size) / 2);
  padding-right: calc(var(--l-thumb-size) / 2);
}

slider-ui .border-step {
  height: 10px;
  width: 0px;
  border-right: 1px solid var(--l-color);
  opacity: 0.6;
  transition: var(--transition-duration-2);
}

slider-ui .minor-step {
  height: 4px;
  width: 0px;
  border-right: 1px solid var(--l-color);
  opacity: 0.2;
  transition: var(--transition-duration-2);
}

slider-ui .zero-dot {
  height: var(--l-zero-dot-size);
  width: var(--l-zero-dot-size);
  background-color: var(--color-primary-accent);
  border-radius: 50%;
  position: absolute;
  left: calc(var(--l-thumb-size) / 2 - var(--l-zero-dot-size) / 2);
  top: calc(100% - var(--l-zero-dot-offset) * 2);
  opacity: 0;
  transition: var(--transition-duration-3);
}

slider-ui .input {
  cursor: pointer;
  position: absolute;
  width: calc(100% - 10px);
  height: 100%;
  margin: 0;
  opacity: 0;
}

ctx-provider {
  --color-text-base: black;
  --color-primary-accent: blue;
  width: 190px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

presence-toggle.transition {
  transition: opacity var(--transition-duration-3), visibility var(--transition-duration-3);
}

presence-toggle.visible {
  opacity: 1;
  pointer-events: inherit;
}

presence-toggle.hidden {
  opacity: 0;
  pointer-events: none;
}
