@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:host {
  font-family: 'Roboto Condensed', sans-serif;

  --ctx-name: 'my-uploader';

  --cfg-pubkey: 'demopublickey';
  --cfg-multiple: 1;
  --cfg-confirm-upload: 1;
  --cfg-img-only: 0;
  --cfg-accept: '';
  --cfg-store: 1;
  --cfg-camera-mirror: 1;
  --cfg-ext-source-list: 'dropbox, google-drive, facebook';
  --cfg-max-files: 10;

  --icon-default: 'M12 3.97C7.59 3.97 3.97 7.59 3.97 12C3.97 16.41 7.59 20.03 12 20.03C16.41 20.03 20.03 16.41 20.03 12C20.03 7.59 16.41 3.97 12 3.97M12 2C17.54 2 22 6.46 22 12C22 17.54 17.54 22 12 22C6.46 22 2 17.54 2 12C2 6.46 6.46 2 12 2M13 10.46H16L12 6.5L8 10.46H11V17.5H13';
  --icon-close: 'M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z';
  --icon-info: 'M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z';
  --icon-error: 'M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z';
  --icon-upload: 'M19.35,10.04C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.04C2.34,8.36 0,10.91 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.04M19,18H6A4,4 0 0,1 2,14C2,11.95 3.53,10.24 5.56,10.03L6.63,9.92L7.13,8.97C8.08,7.14 9.94,6 12,6C14.62,6 16.88,7.86 17.39,10.43L17.69,11.93L19.22,12.04C20.78,12.14 22,13.45 22,15A3,3 0 0,1 19,18M8,13H10.55V16H13.45V13H16L12,9L8,13Z';
  --icon-local: 'M5,17L9.5,11L13,15.5L15.5,12.5L19,17M20,6H12L10,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8A2,2 0 0,0 20,6Z';
  --icon-url: 'M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z';
  --icon-camera: 'M20,4H16.83L15,2H9L7.17,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V6H8.05L9.88,4H14.12L15.95,6H20V18M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15Z';
  --icon-dots: 'M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z';
  --icon-back: 'M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z';
  --icon-remove: 'M2,6V8H14V6H2M2,10V12H11V10H2M14.17,10.76L12.76,12.17L15.59,15L12.76,17.83L14.17,19.24L17,16.41L19.83,19.24L21.24,17.83L18.41,15L21.24,12.17L19.83,10.76L17,13.59L14.17,10.76M2,14V16H11V14H2Z';
  --icon-edit: 'M22.7 14.3L21.7 15.3L19.7 13.3L20.7 12.3C20.8 12.2 20.9 12.1 21.1 12.1C21.2 12.1 21.4 12.2 21.5 12.3L22.8 13.6C22.9 13.8 22.9 14.1 22.7 14.3M13 19.9V22H15.1L21.2 15.9L19.2 13.9L13 19.9M11.21 15.83L9.25 13.47L6.5 17H13.12L15.66 14.55L13.96 12.29L11.21 15.83M11 19.9V19.05L11.05 19H5V5H19V11.31L21 9.38V5C21 3.9 20.11 3 19 3H5C3.9 3 3 3.9 3 5V19C3 20.11 3.9 21 5 21H11V19.9Z';
  --icon-detail: 'M5,3C3.89,3 3,3.89 3,5V19C3,20.11 3.89,21 5,21H19C20.11,21 21,20.11 21,19V5C21,3.89 20.11,3 19,3H5M5,5H19V19H5V5M7,7V9H17V7H7M7,11V13H17V11H7M7,15V17H14V15H7Z';
  --icon-check: 'M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z';
  --icon-edit-file: 'M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z';
  --icon-remove-file: 'M19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M19,19H5V5H19V19M17,8.4L13.4,12L17,15.6L15.6,17L12,13.4L8.4,17L7,15.6L10.6,12L7,8.4L8.4,7L12,10.6L15.6,7L17,8.4Z';
  --icon-upload-error: 'M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z';

  --icon-external-source-placeholder: 'M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z';
  --icon-facebook: 'M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z';
  --icon-dropbox: 'M3 6.2L8 9.39L13 6.2L8 3L3 6.2M13 6.2L18 9.39L23 6.2L18 3L13 6.2M3 12.55L8 15.74L13 12.55L8 9.35L3 12.55M18 9.35L13 12.55L18 15.74L23 12.55L18 9.35M8.03 16.8L13.04 20L18.04 16.8L13.04 13.61L8.03 16.8Z';
  --icon-gdrive: 'M7.71,3.5L1.15,15L4.58,21L11.13,9.5M9.73,15L6.3,21H19.42L22.85,15M22.28,14L15.42,2H8.58L8.57,2L15.43,14H22.28Z';
  --icon-gphotos: 'M21.35,11.1H12.18V13.83H18.69C18.36,17.64 15.19,19.27 12.19,19.27C8.36,19.27 5,16.25 5,12C5,7.9 8.2,4.73 12.2,4.73C15.29,4.73 17.1,6.7 17.1,6.7L19,4.72C19,4.72 16.56,2 12.1,2C6.42,2 2.03,6.8 2.03,12C2.03,17.05 6.16,22 12.25,22C17.6,22 21.5,18.33 21.5,12.91C21.5,11.76 21.35,11.1 21.35,11.1V11.1Z';
  --icon-instagram: 'M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z';
  --icon-flickr: var(--icon-external-source-placeholder);
  --icon-vk: var(--icon-external-source-placeholder);
  --icon-evernote: var(--icon-external-source-placeholder);
  --icon-box: var(--icon-external-source-placeholder);
  --icon-onedrive: var(--icon-external-source-placeholder);
  --icon-huddle: var(--icon-external-source-placeholder);

  --l10n-upload-files: 'Upload Files';
  --l10n-drop-files-here: 'Or drop files here...';
  --l10n-upload: 'Upload';
  --l10n-add-more: 'Add more';
  --l10n-cancel: 'Cancel';
  --l10n-camera-shot: 'Shot';
  --l10n-upload-url: 'Import';
  --l10n-edit-image: 'Edit Image';
  --l10n-edit-detail: 'Details';
  --l10n-back: 'Back';
  --l10n-remove-from-list: 'Remove';
  --l10n-no: 'No';
  --l10n-yes: 'Yes';
  --l10n-are-you-sure: 'Are you sure?';
  --l10n-selected-count: 'Selected:';
  --l10n-done: 'Done';

  --l10n-src-type-local: 'Local File';
  --l10n-src-type-from-url: 'From URL';
  --l10n-src-type-camera: 'Camera';
  --l10n-src-type-facebook: 'Facebook';
  --l10n-src-type-dropbox: 'Dropbox';
  --l10n-src-type-gdrive: 'Gdrive';
  --l10n-src-type-gphotos: 'Gphotos';
  --l10n-src-type-instagram: 'Instagram';
  --l10n-src-type-flickr: 'Flickr';
  --l10n-src-type-vk: 'Vk';
  --l10n-src-type-evernote: 'Evernote';
  --l10n-src-type-box: 'Box';
  --l10n-src-type-onedrive: 'Onedrive';
  --l10n-src-type-huddle: 'Huddle';
  --l10n-src-type-other: 'Other';

  --l10n-src-type: var(--l10n-src-type-local);

  --rgb-1: 152, 197, 255;
  --rgb-2: 40, 40, 40;
  --rgb-txt: 200, 200, 200;
  --rgb-err: 255, 20, 20;
  --opacity-min: 0.2;
  --opacity-mid: 0.6;
  --opacity-max: 0.8;
  --ui-size: 38px;
  --ui-radius-1: 2px;
  --ui-radius-2: 2px;
  --ui-transition: 0.2s;
  --ui-shadow: 0 2px 12px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.08);
  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;
  --line-width: 1px;

  --clr-1: rgb(var(--rgb-1));
  --clr-2: rgb(var(--rgb-2));
  --clr-txt: rgb(var(--rgb-txt));
  --clr-err: rgb(var(--rgb-err));

  --clr-soft-1: rgba(var(--rgb-1), var(--opacity-mid));
  --clr-soft-2: rgba(var(--rgb-2), var(--opacity-mid));

  --clr-shade-1: rgba(var(--rgb-1), var(--opacity-min));

  color: var(--clr-txt);
}

* {
  box-sizing: border-box;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  height: var(--ui-size);
  border-radius: var(--ui-radius-2);
  font-family: inherit;
  cursor: pointer;
  white-space: nowrap;
}
button[disabled] {
  pointer-events: none;
  opacity: var(--opacity-mid);
  filter: grayscale(0.5);
}

a {
  text-decoration: none;
  color: var(--clr-1);
}

system-call {
  display: none;
}

upload-source-select {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: var(--line-width) solid rgba(var(--rgb-1), var(--opacity-mid));
  border-radius: var(--ui-radius);
  cursor: pointer !important;
  transition: var(--ui-transition);
}
upload-source-select:hover {
  border: var(--line-width) solid rgba(var(--rgb-1), 1);
}

upload-source-select > button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  border: none;
  border-right: var(--line-width) dashed rgba(var(--rgb-1), var(--opacity-mid));
  padding-left: 1em;
  outline: none;
  font-family: inherit;
}

upload-source-select > label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  padding-right: 0.8em;
}

upload-source-select select {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  padding-left: 0.4em;
  padding-right: 0.4em;
  border: none;
  outline: none;
  font-family: inherit;
}

upload-source-select option {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  padding-left: 0.8em;
  padding-right: 0.4em;
  border: none;
  outline: none;
}

modal-win {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--rgb-1), var(--opacity-min));
  color: rgb(var(--rgb-1));
  padding: var(--gap-mid);
  z-index: 10000;
  transition: opacity 0.4s;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
modal-win:not([active]) {
  opacity: 0;
  visibility: hidden;
}
modal-win button[close-btn] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  width: var(--ui-size);
  background-color: transparent;
  color: var(--clr-1);
  border-radius: var(--ui-radius-2);
  border: none;
  cursor: pointer;
}
modal-win > [dialog-el] {
  background-color: rgb(var(--rgb-2));
  box-shadow: var(--ui-shadow);
  border-radius: var(--ui-radius-1);
  min-width: 410px;
  min-height: var(--ui-size);
}
modal-win [heading-el] {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  line-height: var(--ui-size);
  padding: var(--gap-mid);
  color: var(--clr-txt);
}
modal-win [caption-el] {
  font-size: 1em;
  color: var(--clr-txt);
}
modal-win [content-el] {
  margin-top: var(--gap-mid);
}

upload-list {
  display: grid;
  transition: opacity var(--ui-transition);
}
upload-list:not([active]) {
  display: none;
}
upload-list .files-el {
  display: grid;
}
upload-list .toolbar-el {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-gap: var(--gap-mid);
  padding: var(--gap-mid);
}
upload-list .upload-btn {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
}
upload-list .add-more-btn {
  background-color: transparent;
  color: var(--clr-1);
}

upload-list .cancel-btn {
  background-color: var(--clr-2);
  color: var(--clr-txt);
}

file-item {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto min-content min-content;
  transition: var(--ui-transition);
  padding: var(--gap-mid);
  border-bottom: var(--line-width) solid var(--clr-shade-1);
}
file-item:first-of-type {
  border-top: var(--line-width) solid var(--clr-shade-1);
}
file-item[focused] {
  background-color: var(--clr-shade-1);
}
file-item[uploading] .edit-btn {
  display: none;
}
file-item[error] {
  --clr-shade-1: rgba(255, 20, 20, 0.1);
}

file-item .thumb {
  display: inline-flex;
  height: var(--ui-size);
  width: var(--ui-size);
  background-color: var(--clr-shade-1);
  background-size: cover;
  background-position: center center;
  border-radius: var(--ui-radius-2);
}
file-item [file-name] {
  display: flex;
  align-items: center;
  padding-left: var(--gap-mid);
  color: var(--clr-txt);
  font-size: 0.9em;
  opacity: var(--opacity-max);
}
file-item:hover [file-name] {
  opacity: 1;
}
file-item button {
  width: var(--ui-size);
  height: var(--ui-size);
  background-color: transparent;
  color: var(--clr-txt);
  cursor: pointer;
}

file-item .edit-btn {
  opacity: var(--opacity-mid);
}
file-item:hover .edit-btn {
  opacity: 1;
}
file-item[focused] .edit-btn {
  opacity: 1;
}
file-item .progress {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 1;
  background-color: var(--clr-shade-1);
  transition: 0.6s;
}
file-item[error] .badge,
file-item[loaded] .badge {
  display: inline-flex;
}
file-item .badge {
  display: none;
  align-items: center;
  justify-content: center;
  height: var(--ui-size);
  width: var(--ui-size);
  color: var(--clr-1);
}
file-item[error] .badge {
  color: var(--clr-err);
}

url-source:not([active]) {
  display: none;
}

drop-area {
  display: grid;
  grid-template-columns: min-content auto;
  border: var(--line-width) dashed var(--clr-txt);
  border-radius: var(--ui-radius-1);
  padding: var(--gap-mid);
  overflow: hidden;
  background-color: var(--clr-shade-1);
}
drop-area .sources {
  background-color: var(--clr-2);
  border-radius: var(--ui-radius-2);
  overflow: hidden;
}
drop-area .dropzone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
drop-area .dropzone .drop-txt {
  color: var(--clr-1);
  opacity: var(--opacity-mid);
}

drop-area .powered {
  position: absolute;
  bottom: 0;
  right: var(--gap-mid);
  font-size: 10px;
  color: var(--clr-soft-1);
}

source-btn {
  display: flex;
  align-items: center;
  padding-right: 1em;
  border-bottom: var(--line-width) solid var(--clr-shade-1);
  user-select: none;
  cursor: pointer;
}
source-btn:last-of-type {
  border-bottom: none;
}

source-btn icon-ui {
  display: inline-flex;
  flex-grow: 1;
  min-width: var(--ui-size);
  justify-content: center;
}

source-btn[type='local'] > .txt::after {
  content: var(--l10n-local-files);
}
source-btn[type='camera'] > .txt::after {
  content: var(--l10n-camera);
}
source-btn[type='url'] > .txt::after {
  content: var(--l10n-from-url);
}
source-btn[type='other'] > .txt::after {
  content: var(--l10n-other);
}

source-btn .txt {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  height: var(--ui-size);
  padding: 0;
  border: none;
  box-sizing: border-box;
  white-space: nowrap;
}

icon-ui {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--ui-size);
  width: var(--ui-size);
}

icon-ui svg {
  height: 1.2em;
  width: 1.2em;
}
icon-ui path {
  fill: currentColor;
}

[activity]:not([active]) {
  display: none;
}

url-source {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: var(--gap-min);
  padding: var(--gap-mid);
  padding-top: 0;
}
url-source .url-input {
  display: flex;
  border: var(--line-width) solid var(--clr-shade-1);
  height: var(--ui-size);
  border-radius: var(--ui-radius-2);
  padding-left: 1em;
  padding-right: 1em;
}
url-source .url-upload-btn {
  color: var(--clr-1);
  background-color: var(--clr-shade-1);
}
url-source .url-upload-btn::after {
  content: var(--l10n-upload-url);
}

camera-source {
  display: grid;
  grid-template-rows: min-content min-content;
}
camera-source video {
  display: block;
  width: 100%;
  background-color: var(--clr-shade-1);
}
camera-source .toolbar {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
}
camera-source .shot-btn {
  color: var(--clr-1);
  background-color: var(--clr-shade-1);
}

camera-source .cancel-btn {
  color: var(--clr-1);
  background-color: var(--clr-2);
}

upload-details {
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

upload-details .viewport {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-shade-1);
}
upload-details .viewport[hidden] {
  display: none;
}

upload-details .viewport .meta-editor {
  position: absolute;
  bottom: var(--gap-mid);
  left: var(--gap-mid);
}

upload-details canvas {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  object-position: 50% 50%;
  background-color: var(--clr-shade-1);
}

upload-details .toolbar {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
}

upload-details .back-btn {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
  padding-left: 0;
}
upload-details .remove-btn {
  background-color: var(--clr-err);
  color: #fff;
  padding-left: 0;
}
upload-details .detail-btn {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
  padding-left: 0;
}
upload-details .edit-btn {
  background-color: transparent;
  color: var(--clr-1);
  padding-left: 0;
}

upload-details .detail-btn::after {
  content: var(--l10n-edit-detail);
}
upload-details .edit-btn::after {
  content: var(--l10n-edit-image);
}
upload-details .remove-btn::after {
  content: var(--l10n-remove-from-list);
}
upload-details .back-btn::after {
  content: var(--l10n-back);
}
upload-details .tabs {
  display: flex;
  justify-content: space-around;
  border-top: var(--line-width) solid var(--clr-shade-1);
}
upload-details .tabs button {
  background-color: transparent;
  color: var(--clr-1);
  border-radius: 0;
  flex-grow: 1;
  opacity: var(--opacity-max);
  border-bottom: var(--gap-min) solid transparent;
}
upload-details .tabs button[current] {
  opacity: 1;
  background-color: var(--clr-shade-1);
  border-bottom: var(--gap-min) solid var(--clr-1);
  pointer-events: none;
}
upload-details .tabs button:hover {
  opacity: 1;
}
upload-details .details {
  padding: var(--gap-max);
}

simple-btn {
  display: inline-flex;
}
simple-btn button {
  color: var(--clr-1);
  background-color: var(--clr-2);
  padding-left: 0.2em;
}

modal-win drop-area {
  border-radius: var(--ui-radius-2);
  margin: var(--gap-mid);
  margin-top: 0;
  border: none;
  padding: 0;
}
modal-win drop-area .sources {
  border-radius: 0;
}
modal-win drop-area .dropzone::after {
  content: '';
}

message-box {
  position: fixed;
  z-index: 100000;
  bottom: var(--gap-mid);
  left: var(--gap-mid);
  right: var(--gap-mid);
  display: grid;
  grid-template-rows: min-content auto;
  background-color: var(--clr-1);
  color: #fff;
  transition: 0.4s;
  border-radius: var(--ui-radius-1);
  box-shadow: var(--ui-shadow);
}
message-box:not([active]) {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}
message-box[error] {
  background-color: var(--clr-err);
}

message-box .heading {
  display: grid;
  grid-template-columns: min-content auto min-content;
  padding: var(--gap-mid);
}
message-box .caption {
  display: flex;
  align-items: center;
}
message-box .heading button {
  background-color: transparent;
  width: var(--ui-size);
  color: currentColor;
}
message-box .msg {
  padding: var(--gap-max);
  padding-top: 0;
}

upload-result {
  display: grid;
  padding: var(--gap-max);
  padding-top: 0;
}

confirmation-dialog {
  display: block;
  padding: var(--gap-mid);
}
confirmation-dialog .txt {
  display: flex;
  justify-content: center;
}
confirmation-dialog .toolbar {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
  margin-top: var(--gap-mid);
}
confirmation-dialog .yes-btn {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
}
confirmation-dialog .no-btn {
  background-color: transparent;
  color: var(--clr-1);
  border: var(--line-width) solid var(--clr-shade-1);
}

progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: var(--clr-2);
  height: var(--gap-mid);
  z-index: 10000;
}

progress-bar:not([active]) {
  opacity: 0;
}

progress-bar .bar {
  position: absolute;
  width: 0;
  left: 0;
  height: 100%;
  background-color: var(--clr-1);
  transition: 0.2s;
}

.local-editor-toolbar {
  position: absolute;
  display: grid;
  grid-gap: var(--gap-mid);
  left: var(--gap-mid);
}

external-source {
  display: grid;
  grid-template-rows: auto min-content;
  position: relative;
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  height: 100%;
}

external-source iframe {
  width: 100%;
  height: 100%;
}

external-source .toolbar {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
  grid-gap: var(--gap-mid);
  align-items: center;
}

external-source .done-btn {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
  padding-left: 0;
}

external-source .done-btn::after {
  content: var(--l10n-done);
}

external-source .selected-counter {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
  grid-gap: var(--gap-mid);
  align-items: center;
}

