@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('./locale-en.css');

:host {
  font-family: 'Roboto Condensed', sans-serif;

  --rgb-1: 60, 200, 255;
  --rgb-2: 40, 40, 40;
  --rgb-txt: 200, 200, 200;
  --rgb-err: 255, 20, 20;
  --opacity-min: .2;
  --opacity-mid: .6;
  --opacity-max: .8;
  --ui-size: 38px;
  --ui-radius-1: 12px;
  --ui-radius-2: 4px;
  --ui-transition: .2s;
  --ui-shadow: 0 2px 12px rgba(0, 0, 0, .3), 0 2px 4px rgba(0, 0, 0, .08);
  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;
  --line-width: 1px;

  --clr-1: rgb(var(--rgb-1));
  --clr-2: rgb(var(--rgb-2));
  --clr-txt: rgb(var(--rgb-txt));
  --clr-err: rgb(var(--rgb-err));

  --clr-soft-1: rgba(var(--rgb-1), var(--opacity-mid));
  --clr-soft-2: rgba(var(--rgb-2), var(--opacity-mid));

  --clr-shade-1: rgba(var(--rgb-1), var(--opacity-min));

  color: var(--clr-txt);
}

* {
  box-sizing: border-box;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  height: var(--ui-size);
  border-radius: var(--ui-radius-2);
  font-family: inherit;
  cursor: pointer;
  white-space: nowrap;
}
button[disabled] {
  pointer-events: none;
  opacity: var(--opacity-mid);
  filter: grayscale(0.5);
}

a {
  text-decoration: none;
  color: var(--clr-1);
}

system-call {
  display: none;
}

upload-source-select {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: var(--line-width) solid rgba(var(--rgb-1), var(--opacity-mid));
  border-radius: var(--ui-radius);
  cursor: pointer !important;
  transition: var(--ui-transition);
}
upload-source-select:hover {
  border: var(--line-width) solid rgba(var(--rgb-1), 1);
}

upload-source-select > button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  border: none;
  border-right: var(--line-width) dashed rgba(var(--rgb-1), var(--opacity-mid));
  padding-left: 1em;
  outline: none;
  font-family: inherit;
}

upload-source-select > label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  padding-right: 0.8em;
}

upload-source-select select {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  padding-left: 0.4em;
  padding-right: 0.4em;
  border: none;
  outline: none;
  font-family: inherit;
}

upload-source-select option {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  padding-left: 0.8em;
  padding-right: 0.4em;
  border: none;
  outline: none;
}

modal-win {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--rgb-1), var(--opacity-min));
  color: rgb(var(--rgb-1));
  padding: var(--gap-mid);
  z-index: 10000;
  transition: opacity .4s;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
modal-win:not([active]) {
  opacity: 0;
  visibility: hidden;
}
modal-win button[close-btn] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  width: var(--ui-size);
  background-color: transparent;
  color: var(--clr-1);
  border-radius: var(--ui-radius-2);
  border: none;
  cursor: pointer;
}
modal-win > [dialog-el] {
  background-color: rgb(var(--rgb-2));
  box-shadow: var(--ui-shadow);
  border-radius: var(--ui-radius-1);
  min-width: 410px;
  min-height: var(--ui-size);
}
modal-win [heading-el] {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  line-height: var(--ui-size);
  padding: var(--gap-mid);
  color: var(--clr-txt);
}
modal-win [caption-el] {
  font-size: 1em;
  color: var(--clr-txt);
}
modal-win [content-el] {
  margin-top: var(--gap-mid);
}

upload-list {
  display: grid;
  transition: opacity var(--ui-transition);
}
upload-list:not([active]) {
  display: none;
}
upload-list [-files-el-] {
  display: grid;
}
upload-list [-toolbar-el-] {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-gap: var(--gap-mid);
  padding: var(--gap-mid);
}
upload-list [-upload-btn-] {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
}
upload-list [-add-more-btn-] {
  background-color: transparent;
  color: var(--clr-1);
}
upload-list [-add-more-btn-]::after {
  content: var(--l10n-add-more);
}
upload-list [-upload-btn-]::after {
  content: var(--l10n-upload);
}
upload-list [-cancel-btn-] {
  background-color: var(--clr-2);
  color: var(--clr-txt);
}
upload-list [-cancel-btn-]::after {
  content: var(--l10n-cancel);
}

file-item {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto min-content min-content;
  transition: var(--ui-transition);
  padding: var(--gap-mid);
  border-bottom: var(--line-width) solid var(--clr-shade-1);
}
file-item:first-of-type {
  border-top: var(--line-width) solid var(--clr-shade-1);
}
file-item[focused] {
  background-color: var(--clr-shade-1);
}
file-item[uploading] [-edit-btn-] {
  display: none;
}
file-item[error] {
  --clr-shade-1: rgba(255, 20, 20, .1);
}

file-item [-thumb-] {
  display: inline-flex;
  height: var(--ui-size);
  width: var(--ui-size);
  background-color: var(--clr-shade-1);
  background-size: cover;
  background-position: center center;
  border-radius: var(--ui-radius-2);
}
file-item [file-name] {
  display: flex;
  align-items: center;
  padding-left: var(--gap-mid);
  color: var(--clr-txt);
  font-size: 0.9em;
  opacity: var(--opacity-max);
}
file-item:hover [file-name] {
  opacity: 1;
}
file-item button {
  width: var(--ui-size);
  height: var(--ui-size);
  background-color: transparent;
  color: var(--clr-txt);
  cursor: pointer;
}

file-item [-edit-btn-] {
  opacity: var(--opacity-mid);
}
file-item:hover [-edit-btn-] {
  opacity: 1;
}
file-item[focused] [-edit-btn-] {
  opacity: 1;
}
file-item [-progress-] {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 1;
  background-color: var(--clr-shade-1);
  transition: .6s;
}
file-item[error] [-badge-], file-item[loaded] [-badge-] {
  display: inline-flex;
}
file-item [-badge-] {
  display: none;
  align-items: center;
  justify-content: center;
  height: var(--ui-size);
  width: var(--ui-size);
  color: var(--clr-1);
}
file-item[error] [-badge-] {
  color: var(--clr-err);
}

url-source:not([active]) {
  display: none;
}

drop-area {
  display: grid;
  grid-template-columns: min-content auto;
  border: var(--line-width) dashed var(--clr-txt);
  border-radius: var(--ui-radius-1);
  padding: var(--gap-mid);
  overflow: hidden;
  background-color: var(--clr-shade-1);
}
drop-area [-sources-] {
  background-color: var(--clr-2);
  border-radius: var(--ui-radius-2);
  overflow: hidden;
}
drop-area [-dropzone-] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
drop-area [-dropzone-] [-drop-txt-]::after {
  content: var(--l10n-drop-files-here);
  color: var(--clr-1);
  opacity: var(--opacity-mid);
}

drop-area [-dropzone-]::after {
  position: absolute;
  bottom: 0;
  right: var(--gap-mid);
  content: var(--l10n-powered-by);
  font-size: 10px;
  color: var(--clr-soft-1);
}

source-btn {
  display: flex;
  align-items: center;
  padding-right: 1em;
  border-bottom: var(--line-width) solid var(--clr-shade-1);
  user-select: none;
  cursor: pointer;
}
source-btn:last-of-type {
  border-bottom: none;
}

source-btn icon-ui {
  display: inline-flex;
  flex-grow: 1;
  min-width: var(--ui-size);
  justify-content: center;
}

source-btn[type="local"] > [-txt-]::after {
  content: var(--l10n-local-files);
}
source-btn[type="camera"] > [-txt-]::after {
  content: var(--l10n-camera);
}
source-btn[type="url"] > [-txt-]::after {
  content: var(--l10n-from-url);
}
source-btn[type="other"] > [-txt-]::after {
  content: var(--l10n-other);
}

source-btn [-txt-] {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  height: var(--ui-size);
  padding: 0;
  border: none;
  box-sizing: border-box;
  white-space: nowrap;
}

icon-ui {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--ui-size);
  width: var(--ui-size);
}

icon-ui svg {
  height: 1.2em;
  width: 1.2em;
}
icon-ui path {
  fill: currentColor;
}

activity-mngr {
  display: contents;
}

activity-mngr > *:not([active]) {
  display: none;
}

url-source {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: var(--gap-min);
  padding: var(--gap-mid);
  padding-top: 0;
}
url-source [-url-input-] {
  display: flex;
  border: var(--line-width) solid var(--clr-shade-1);
  height: var(--ui-size);
  border-radius: var(--ui-radius-2);
  padding-left: 1em;
  padding-right: 1em;
}
url-source [-url-upload-btn-] {
  color: var(--clr-1);
  background-color: var(--clr-shade-1);
}
url-source [-url-upload-btn-]::after {
  content: var(--l10n-upload-url);
}

camera-source {
  display: grid;
  grid-template-rows: min-content min-content;
}
camera-source video {
  display: block;
  width: 100%;
  background-color: var(--clr-shade-1);
}
camera-source [-toolbar-] {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
}
camera-source [-shot-btn-] {
  color: var(--clr-1);
  background-color: var(--clr-shade-1);
}
camera-source [-shot-btn-]::after {
  content: var(--l10n-camera-shot);
}
camera-source [-cancel-btn-] {
  color: var(--clr-1);
  background-color: var(--clr-2);
}
camera-source [-cancel-btn-]::after {
  content: var(--l10n-cancel);
}

upload-details {
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

upload-details [-viewport-] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-shade-1);
}
upload-details [-viewport-][hidden] {
  display: none;
}

upload-details [-viewport-] [-meta-editor-] {
  position: absolute;
  bottom: var(--gap-mid);
  left: var(--gap-mid);
}

upload-details canvas {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  object-position: 50% 50%;
  background-color: var(--clr-shade-1);
}

upload-details [-toolbar-] {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
}

upload-details [-back-btn-] {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
  padding-left: 0;
}
upload-details [-remove-btn-] {
  background-color: var(--clr-err);
  color: #fff;
  padding-left: 0;
}
upload-details [-detail-btn-] {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
  padding-left: 0;
}
upload-details [-edit-btn-] {
  background-color: transparent;
  color: var(--clr-1);
  padding-left: 0;
}

upload-details [-detail-btn-]::after {
  content: var(--l10n-edit-detail);
}
upload-details [-edit-btn-]::after {
  content: var(--l10n-edit-image);
}
upload-details [-remove-btn-]::after {
  content: var(--l10n-remove-from-list);
}
upload-details [-back-btn-]::after {
  content: var(--l10n-back);
}
upload-details [-tabs-] {
  display: flex;
  justify-content: space-around;
  border-top: var(--line-width) solid var(--clr-shade-1);
}
upload-details [-tabs-] button {
  background-color: transparent;
  color: var(--clr-1);
  border-radius: 0;
  flex-grow: 1;
  opacity: var(--opacity-max);
  border-bottom: var(--gap-min) solid transparent;
}
upload-details [-tabs-] button[current] {
  opacity: 1;
  background-color: var(--clr-shade-1);
  border-bottom: var(--gap-min) solid var(--clr-1);
  pointer-events: none;
}
upload-details [-tabs-] button:hover {
  opacity: 1;
}
upload-details [-details-] {
  padding: var(--gap-max);
}

simple-btn {
  display: inline-flex;
}
simple-btn button {
  color: var(--clr-1);
  background-color: var(--clr-2);
  padding-left: 0.2em;
}
simple-btn button::after {
  content: var(--l10n-upload-files);
}

modal-win drop-area {
  border-radius: var(--ui-radius-2);
  margin: var(--gap-mid);
  margin-top: 0;
  border: none;
  padding: 0;
}
modal-win drop-area [-sources-] {
  border-radius: 0;
}
modal-win drop-area [-dropzone-]::after {
  content: '';
}

message-box {
  position: fixed;
  z-index: 100000;
  bottom: var(--gap-mid);
  left: var(--gap-mid);
  right: var(--gap-mid);
  display: grid;
  grid-template-rows: min-content auto;
  background-color: var(--clr-1);
  color: #fff;
  transition: .4s;
  border-radius: var(--ui-radius-1);
  box-shadow: var(--ui-shadow);
}
message-box:not([active]) {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}
message-box[error] {
  background-color: var(--clr-err);
}

message-box [-heading-] {
  display: grid;
  grid-template-columns: min-content auto min-content;
  padding: var(--gap-mid);
}
message-box [-caption-] {
  display: flex;
  align-items: center;
}
message-box [-heading-] button {
  background-color: transparent;
  width: var(--ui-size);
  color: currentColor;
}
message-box [-msg-] {
  padding: var(--gap-max);
  padding-top: 0;
}

upload-result {
  display: grid;
  padding: var(--gap-max);
  padding-top: 0;
}

confirmation-dialog {
  display: block;
  padding: var(--gap-mid);
}
confirmation-dialog [-txt-] {
  display: flex;
  justify-content: center;
}
confirmation-dialog [-toolbar-] {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
  margin-top: var(--gap-mid);
}
confirmation-dialog [-yes-btn-] {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
}
confirmation-dialog [-no-btn-] {
  background-color: transparent;
  color: var(--clr-1);
  border: var(--line-width) solid var(--clr-shade-1);
}

progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: var(--clr-2);
  height: var(--gap-mid);
  z-index: 10000;
}

progress-bar:not([active]) {
  opacity: 0;
}

progress-bar [-bar-] {
  position: absolute;
  width: 0;
  left: 0;
  height: 100%;
  background-color: var(--clr-1);
  transition: .2s;
}