:host {
  --l10n-upload-files: 'Upload Files';
  --l10n-powered-by: 'Powered by Uploadcare ©';
  --l10n-drop-files-here: 'Or drop files here...';
  --l10n-local-files: 'Local Files';
  --l10n-from-url: 'From URL';
  --l10n-camera: 'Camera';
  --l10n-other: 'Other';
  --l10n-upload: 'Upload';
  --l10n-add-more: 'Add more';
  --l10n-cancel: 'Cancel';
  --l10n-camera-shot: 'Shot';
  --l10n-upload-url: 'Import';
  --l10n-edit-image: 'Edit Image';
  --l10n-edit-detail: 'Details';
  --l10n-back: 'Back';
  --l10n-remove-from-list: 'Remove';
}