{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": [
    "eslint-config-prettier",
    "plugin:import/recommended"
  ],
  "plugins": [],
  "rules": {
    "import/no-cycle": 2,
    "import/no-unresolved": "off",
    "no-unused-vars": 1,
    "no-console": "off",
    "max-classes-per-file": "off",
    "prefer-const": "off",
    "no-param-reassign": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "dot-notation": "off",
    "no-plusplus": "off",
    "no-return-await": "off",
    "no-await-in-loop": "off",
    "one-var": "off",
    "default-case": "warn",
    "no-shadow": "warn",
    "no-prototype-builtins": "off",
    "prefer-template": "off",
    "lit/no-invalid-html": "off",
    "no-dupe-keys": "error"
  }
}
