node_modules
.DS_Store
TMP
web
**/*.d.ts
**/*.d.ts.map
!global.d.ts

# html files are treated as generated with build:static
# this line will be removed on pages deploy at `.github/workflows/pages.yml`
