uc-cloud-image-editor-activity {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--uc-background);
}

[uc-modal] > dialog:has(uc-cloud-image-editor-activity[active]) {
  width: 100%;
  height: 100%;
}
