lr-cloud-image-editor-activity {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--clr-background-light);
}

lr-modal lr-cloud-image-editor-activity {
  width: min(calc(var(--modal-max-w) - var(--gap-mid) * 2), calc(100vw - var(--gap-mid) * 2));
  height: var(--modal-content-height-fill, 100%);
}
