uc-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--ui-size);
  width: var(--ui-size);
}

uc-icon svg {
  height: 1.2em;
  width: 1.2em;
}

uc-icon:not([raw]) path {
  fill: currentColor;
}
