uc-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--uc-button-size);
  height: var(--uc-button-size);
}

uc-icon svg {
  width: calc(var(--uc-button-size) / 2);
  height: calc(var(--uc-button-size) / 2);
}
