lr-copyright {
  display: flex;
  width: 100%;
  justify-content: center;
}

lr-copyright .credits {
  all: unset;
  position: absolute;
  bottom: 12px;
  background-color: var(--uc-background);
  padding: 2px 5px;
  border-radius: 6px;
  color: var(--uc-muted-foreground);
  font-weight: normal;
  font-size: 12px;
  opacity: 0.9;
  transition:
    opacity var(--uc-transition),
    background-color var(--uc-transition);
}

lr-copyright .credits:hover {
  opacity: 1;
  background-color: var(--uc-muted);
}
