uc-source-btn {
  display: flex;
  align-items: center;
  padding-right: 1em;
  user-select: none;
  cursor: pointer;
  border-radius: var(--ui-radius-2);
  transition-property: background-color, color;
  transition-duration: var(--ui-transition);
  transition-timing-function: var(--ui-transition-curve);
  color: var(--clr-txt-mid);
}
uc-source-btn:hover{
  background-color: var(--clr-shade-lv1);
  color: var(--clr-txt);
}
uc-source-btn:active{
  background-color: var(--clr-shade-lv2);
  color: var(--clr-txt);
}

uc-source-btn uc-icon {
  display: inline-flex;
  flex-grow: 1;
  min-width: var(--ui-size);
  justify-content: center;
}

uc-source-btn[type='local'] > .txt::after {
  content: var(--l10n-local-files);
}
uc-source-btn[type='camera'] > .txt::after {
  content: var(--l10n-camera);
}
uc-source-btn[type='url'] > .txt::after {
  content: var(--l10n-from-url);
}
uc-source-btn[type='other'] > .txt::after {
  content: var(--l10n-other);
}

uc-source-btn .txt {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  height: var(--ui-size);
  padding: 0;
  border: none;
  box-sizing: border-box;
  white-space: nowrap;
}