uc-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--rgb-1), var(--opacity-min));
  color: rgb(var(--rgb-1));
  padding: var(--gap-mid);
  z-index: 10000;
  transition: opacity 0.4s;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
uc-modal:not([active]) {
  opacity: 0;
  visibility: hidden;
}
uc-modal button.close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  width: var(--ui-size);
  background-color: transparent;
  color: var(--clr-1);
  border-radius: var(--ui-radius-2);
  border: none;
  cursor: pointer;
}
uc-modal > .dialog {
  background-color: rgb(var(--rgb-2));
  box-shadow: var(--ui-shadow);
  border-radius: var(--ui-radius-1);
  min-width: 410px;
  min-height: var(--ui-size);
  max-height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}
uc-modal .heading {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  line-height: var(--ui-size);
  padding: var(--gap-mid);
  color: var(--clr-txt);
}
uc-modal .caption {
  font-size: 1em;
  color: var(--clr-txt);
}

uc-modal uc-drop-area {
  border-radius: var(--ui-radius-2);
  margin: var(--gap-mid);
  margin-top: 0;
  border: none;
  padding: 0;
}
uc-modal uc-drop-area .sources {
  border-radius: 0;
}
