uc-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-curtain);
  color: var(--clr-txt);
  padding: var(--gap-mid);
  z-index: 10000;
  transition: opacity 0.4s;
  /* backdop filter causes scrolling glitches */
  /* backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); */
}
uc-modal:not([active]) {
  opacity: 0;
  visibility: hidden;
}
uc-modal button.close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  width: var(--ui-size);
  padding: 0;
  background-color: transparent;
  color: var(--clr-txt-lightest);
  border-radius: var(--border-radius-mid);
  border: none;
  cursor: pointer;
  transition: color var(--transition-duration) ease;
}
uc-modal button.close-btn:hover {
  color: var(--clr-txt-light);
}
uc-modal button.close-btn:active {
  color: var(--clr-txt-mid);
}
uc-modal > .dialog {
  background-color: rgb(var(--rgb-2));
  box-shadow: var(--modal-shadow);
  border-radius: var(--border-radius-max);
  min-width: 410px;
  min-height: var(--ui-size);
  background-color: var(--clr-background);
  transition: transform 0.4s;
  overflow: hidden;
}
uc-modal:not([active]) > .dialog {
  transform: translateY(20px);
  max-height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}
uc-modal .heading {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  font-size: 1.1em;
  font-weight: 500;
  line-height: var(--ui-size);
  padding: var(--gap-mid);
  color: var(--clr-txt-light);
  border-bottom: var(--border-light);
  background-color: var(--clr-background-light);
}
uc-modal .caption {
  font-size: 1em;
  color: var(--clr-txt);
}
