uc-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-curtain);
  color: var(--clr-txt);
  padding: var(--gap-mid);
  z-index: 10000;
  transition: opacity 0.4s;
  /* backdop filter causes scrolling glitches */
  /* backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); */
}
uc-modal:not([active]) {
  opacity: 0;
  visibility: hidden;
}
uc-modal button.close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  width: var(--ui-size);
  padding: 0;
  background-color: transparent;
  color: var(--clr-txt-light);
  opacity: var(--opacity-normal);
  border: none;
  cursor: pointer;
  transition: opacity var(--transition-duration) ease;
}
uc-modal button.close-btn:hover {
  opacity: var(--opacity-hover);
}
uc-modal button.close-btn:active {
  opacity: var(--opacity-active);
}
uc-modal > .dialog {
  display: grid;
  grid-template-rows: min-content min-content;
  background-color: rgb(var(--rgb-2));
  box-shadow: var(--modal-shadow);
  border-radius: var(--border-radius-frame);
  min-height: var(--ui-size);
  background-color: var(--clr-background);
  transition: transform 0.4s;
  overflow: hidden;
  width: 100%;
  max-width: var(--modal-max-w);
  max-height: 100%;
}
@media only screen and (max-width: 480px) {
  uc-modal > .dialog {
    width: 100%;
    height: 100%;
  }
}
uc-modal:not([active]) > .dialog {
  transform: translateY(20px);
}

uc-modal  > .dialog > .content {
  /* TODO: the following solution is not ideal... */
  max-height: calc(100vh - 4*var(--gap-mid) - var(--ui-size));
}

uc-modal .heading {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  font-size: 1.1em;
  font-weight: 500;
  line-height: var(--ui-size);
  padding: var(--gap-mid);
  color: var(--clr-txt-light);
  border-bottom: var(--border-light);
  background-color: var(--clr-background-light);
}
