uc-color {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-2);
  height: var(--ui-size);
  width: var(--ui-size);
  cursor: pointer;
  overflow: hidden;
}

uc-color[current] {
  background-color: var(--clr-1);
}

uc-color input[type="color"] {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
}

uc-color .current-color {
  position: absolute;
  height: 50%;
  width: 50%;
  border-radius: 100%;
  border: 2px solid #fff;
  pointer-events: none;
}