lr-color {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--ui-size);
  height: var(--ui-size);
  overflow: hidden;
  background-color: var(--clr-background);
  cursor: pointer;
}

lr-color[current] {
  background-color: var(--clr-txt);
}

lr-color input[type='color'] {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

lr-color .current-color {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 2px solid #fff;
  border-radius: 100%;
  pointer-events: none;
}
