uc-upload-details {
  position: relative;
  display: grid;
  grid-template-rows: auto min-content;
  height: var(--modal-content-height-fill, 100%);
  max-height: var(--modal-max-content-height);
  overflow: hidden;
}

uc-upload-details uc-tabs .tabs-context {
  position: relative;
}

uc-upload-details .toolbar {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  gap: var(--gap-mid);
  padding: var(--gap-mid);
  border-top: var(--border-light);
}

uc-upload-details .toolbar[edit-disabled] {
  display: flex;
  justify-content: space-between;
}

uc-upload-details .remove-btn {
  padding-left: 0.5em;
}

uc-upload-details .detail-btn {
  padding-left: 0;
  color: var(--clr-txt);
  background-color: var(--clr-background);
}

uc-upload-details .edit-btn {
  padding-left: 0.5em;
}

uc-upload-details .details {
  padding: var(--gap-max);
}

uc-upload-details .info-block {
  padding-top: var(--gap-max);
  padding-bottom: calc(var(--gap-max) + var(--gap-table));
  color: var(--clr-txt);
  border-bottom: var(--border-light);
}

uc-upload-details .info-block:first-of-type {
  padding-top: 0;
}

uc-upload-details .info-block:last-of-type {
  border-bottom: none;
}

uc-upload-details .info-block > .info-block_name {
  margin-bottom: 0.4em;
  color: var(--clr-txt-light);
  font-size: 0.8em;
}
