lr-progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

lr-progress-bar .progress {
  width: calc(var(--l-width) * 1%);
  height: 100%;
  background-color: var(--clr-accent-light);
  transform: translateX(0);
  opacity: 1;
  transition:
    width 0.6s,
    opacity 0.3s;
}

lr-progress-bar .progress--hidden {
  opacity: 0;
}
