uc-progress-bar {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

uc-progress-bar .progress {
  opacity: 1;
  transition: width 0.6s, opacity 0.3s;
  background-color: var(--clr-accent-light);
  transform: translateX(0);
  width: calc(var(--l-width) * 1%);
  height: 100%;
}

uc-progress-bar .progress--unknown {
  width: 100%;
  animation: uc-indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

uc-progress-bar .progress--hidden {
  opacity: 0;
}

@keyframes uc-indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }

  40% {
    transform: translateX(0) scaleX(0.4);
  }

  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
