@import url('../../upload-blocks/themes/uc-basic/index.css');

.uc-wgt-l10n_en-US, .uc-wgt-common, :host {
    --l10n-drop-files-here-or: 'Drop files here or';
}

.minimal-frame {
    border: var(--border-dashed);
    border-radius: var(--border-radius-frame);
}

uc-start-from {
    display: block; 
    height: 300px; /* test value */
    padding: 0;
}

uc-drop-area {
    width: 100%; 
    height: 100%; 
    padding: 20px;
    flex-direction: column;
    text-align: center;
    line-height: 140%;
}

uc-drop-area::after {
    content: "";
}

uc-drop-area::before {
    content: var(--l10n-drop-files-here-or);
}

uc-drop-area button {
    display: inline-block;
    padding: 0;
    background: transparent;
    height: auto;
    color: var(--clr-accent);
    line-height: inherit;
    opacity: 0.8;
    transition: opacity var(--transition-duration) ease;
}

uc-drop-area button:hover {
    opacity: 1;
}

