@import url('../../upload-blocks/themes/uc-basic/index.css');

.uc-wgt-l10n_en-US, .uc-wgt-common, :host {
    --cfg-multiple: 0;
    --cfg-confirm-upload: 0;
    --l10n-drop-files-here-or: 'Drop files here or';
}

uc-start-from {
    display: block; 
    height: 100%; /* test value */
    width: 100%; /* test value */
    padding: 0;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

uc-drop-area {
    width: 100%; 
    height: 100%; 
    padding: 0;
    flex-direction: column;
    text-align: center;
    line-height: 140%;
}

uc-drop-area p {
    margin: 0;
}

uc-drop-area[drag-state="inactive"] {
    background-color: transparent;
}

uc-drop-area::after {
    content: "";
}

uc-drop-area button {
    display: inline-block;
    padding: 0;
    background: transparent;
    height: auto;
    color: var(--clr-accent);
    line-height: inherit;
    opacity: 0.8;
    transition: opacity var(--transition-duration) ease;
}

uc-drop-area button:hover {
    opacity: 1;
}
uc-upload-list {
    width: 100%;
    height: 100%;
    padding: var(--gap-mid);
    gap: var(--gap-min)
}
uc-upload-list .toolbar {
    background: none;
    border-top: none;
}

uc-file-item {
    border-bottom: none;
    border-radius: var(--border-radius-element);
}