@import url('./src/css/index.css');

lr-cloud-image-editor {
  position: relative;
  display: flex;
  width: min(calc(var(--modal-max-w) - var(--gap-mid) * 2), calc(100vw - var(--gap-mid) * 2));
  height: var(--modal-content-height-fill, 100%);
  overflow: hidden;
}
