lr-source-btn > button {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 2px var(--uc-padding);
  color: var(--uc-foreground);
  border-radius: var(--uc-radius);
  cursor: pointer;
  transition: background-color var(--uc-transition),
  color var(--uc-transition);
  user-select: none;
}

lr-source-btn > button:last-child {
  margin-bottom: 0;
}

lr-source-btn > button:hover {
  color: var(--uc-primary);
  background-color: var(--uc-primary-transparent);
}

lr-source-btn lr-icon {
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
  min-width: var(--uc-button-size);
  margin-right: var(--uc-padding);
  opacity: 0.8;
}

lr-source-btn .txt {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: var(--uc-button-size);
  padding: 0;
  white-space: nowrap;
  border: none;
}
