uc-source-btn > button {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 2px var(--uc-padding);
  color: var(--uc-foreground);
  border-radius: var(--uc-radius);
  cursor: pointer;
  transition:
    background-color var(--uc-transition),
    color var(--uc-transition);
  user-select: none;
  width: 100%;
  background-color: unset;
  height: unset;
}

uc-source-btn:last-child > button {
  margin-bottom: 0;
}

uc-source-btn > button:hover {
  background-color: var(--uc-primary-transparent);
}

:where(.uc-contrast) uc-source-btn > button:hover {
  background-color: var(--uc-secondary);
  color: var(--uc-foreground);
}

uc-source-btn uc-icon {
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
  min-width: var(--uc-button-size);
  margin-right: var(--uc-padding);
  opacity: 0.8;
}

:where(.uc-contrast) uc-source-btn uc-icon {
  opacity: 1;
}

uc-source-btn .uc-txt {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: var(--uc-button-size);
  padding: 0;
  white-space: nowrap;
  border: none;
}
