uc-camera-source {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--modal-content-height-fill, 100%);
  max-height: var(--modal-max-content-height);
  padding-bottom: calc(2 * var(--gap-mid) + var(--ui-size));
}

uc-camera-source video {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;
  background-color: var(--clr-background);
}

uc-camera-source .toolbar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--gap-mid);
  background-color: var(--clr-background);
}

uc-camera-source .content {
  display: flex;
  justify-content: center;
  height: 100%;
}

uc-camera-source .message-box {
  --padding: calc(var(--gap-max) * 2);

  display: flex;
  flex-direction: column;
  grid-gap: var(--gap-max);
  align-items: center;
  justify-content: center;
  padding: var(--padding) var(--padding) 0 var(--padding);
}

uc-camera-source .message-box button {
  color: var(--clr-btn-txt-primary);
  background-color: var(--clr-btn-bgr-primary);
}
