lr-camera-source {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: var(--uc-background);
  border-radius: var(--uc-radius);
}

lr-modal lr-camera-source {
  width: min(calc(var(--uc-dialog-max-width) - var(--uc-padding) * 2), calc(100vw - var(--uc-padding) * 2));
  height: 100vh;
  max-height: var(--modal-max-content-height);
}

lr-camera-source.initialized {
  height: max-content;
}

@media only screen and (max-width: 430px) {
  lr-camera-source {
    width: calc(100vw - var(--uc-padding) * 2);
    height: var(--modal-content-height-fill, 100%);
  }
}

lr-camera-source video {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;
  background-color: var(--uc-muted);
  border-radius: var(--uc-radius);
}

lr-camera-source .toolbar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--uc-padding);
  background-color: var(--uc-background);
}

lr-camera-source .content {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  padding: var(--uc-padding);
  padding-top: 0;
  overflow: hidden;
}

lr-camera-source .message-box {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 0;
  color: var(--uc-foreground);
}

lr-camera-source .message-box button {
  color: var(--uc-primary-foreground);
  background-color: var(--uc-primary);
}

lr-camera-source .shot-btn {
  position: absolute;
  bottom: 20px;
  width: 58px;
  height: 58px;
  color: var(--uc-background);
  background-color: var(--uc-foreground);
  border-radius: 50%;
  opacity: 0.85;
  transition:
    bottom var(--uc-transition),
    opacity var(--uc-transition),
    transform var(--uc-transition);
}

lr-camera-source .shot-btn:hover {
  transform: scale(1.05);
  opacity: 1;
}

lr-camera-source .shot-btn:active {
  transform: scale(1);
  opacity: 1;
}

lr-camera-source .shot-btn[disabled] {
  bottom: -80px;
}

lr-camera-source .shot-btn lr-icon svg {
  width: 20px;
  height: 20px;
}
