uc-camera-source {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: var(--uc-background);
  border-radius: var(--uc-radius);
}

[uc-modal] > dialog:has(uc-camera-source[active]) {
  width: 100%;
  height: 100%;
}

uc-camera-source video {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;
  background-color: var(--uc-muted);
  border-radius: var(--uc-radius);
}

uc-camera-source .uc-toolbar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--uc-padding);
  background-color: var(--uc-background);
}

uc-camera-source .uc-content {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--uc-padding);
  padding-top: 0;
  overflow: hidden;
}

uc-camera-source .uc-message-box {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 0;
  color: var(--uc-foreground);
}

uc-camera-source .uc-message-box button {
  color: var(--uc-primary-foreground);
  background-color: var(--uc-primary);
}

uc-camera-source .uc-shot-btn {
  position: absolute;
  bottom: 20px;
  width: 58px;
  height: 58px;
  color: var(--uc-background);
  background-color: var(--uc-foreground);
  border-radius: 50%;
  opacity: 0.85;
  transition:
    bottom var(--uc-transition),
    opacity var(--uc-transition),
    transform var(--uc-transition);
}

uc-camera-source .uc-shot-btn:hover {
  transform: scale(1.05);
  opacity: 1;
}

uc-camera-source .uc-shot-btn:active {
  transform: scale(1);
  opacity: 1;
}

uc-camera-source .uc-shot-btn[disabled] {
  bottom: -80px;
}

uc-camera-source .uc-shot-btn uc-icon svg {
  width: 20px;
  height: 20px;
}
