uc-icon-ui {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--ui-size);
  width: var(--ui-size);
}

uc-icon-ui svg {
  height: 1.2em;
  width: 1.2em;
}
uc-icon-ui path {
  fill: currentColor;
}