uc-range {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--uc-button-size);
}

uc-range datalist {
  display: none;
}

uc-range input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

uc-range .uc-track-wrapper {
  position: absolute;
  right: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2px;
  user-select: none;
  pointer-events: none;
}

uc-range .uc-track {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2px;
  background-color: currentColor;
  border-radius: 2px;
  opacity: 0.5;
}

uc-range .uc-slider {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  border-radius: 100%;
  transform: translateX(-50%);
}

uc-range .uc-bar {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: currentColor;
  border-radius: 2px;
}

uc-range .uc-caption {
  position: absolute;
  display: inline-flex;
  justify-content: center;
}
