uc-confirmation-dialog {
  display: block;
  padding: var(--gap-mid);
}
uc-confirmation-dialog .message {
  display: flex;
  justify-content: center;
  padding-top: var(--gap-mid);
  padding-bottom: var(--gap-max);
}
uc-confirmation-dialog .toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-mid);
  justify-content: center;
}
uc-confirmation-dialog .heading {
  display: none;
}
uc-confirmation-dialog .confirm-btn {
  /* nothing to say */
}
uc-confirmation-dialog .deny-btn {
  /* nothing to say */
}