uc-confirmation-dialog {
  --activity-desired-w: 300px;
  --activity-desired-mobile-h: auto;

  display: block;
  padding: var(--gap-mid);
  padding-top: var(--gap-max);
}
uc-confirmation-dialog .message {
  display: flex;
  font-size: 1.1em;
  font-weight: 500;
  justify-content: center;
  padding: var(--gap-mid);
  padding-bottom: var(--gap-max);
}
uc-confirmation-dialog .toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:var(--gap-mid);
  margin-top: var(--gap-mid);
}
uc-confirmation-dialog .confirm-btn {
  /* nothing to say */
}
uc-confirmation-dialog .deny-btn {
  /* nothing to say */
}
