uc-confirmation-dialog {
  display: block;
  padding: var(--gap-mid);
  padding-top: var(--gap-max);
}
uc-confirmation-dialog .message {
  display: flex;
  justify-content: center;
  padding: var(--gap-mid);
  padding-bottom: var(--gap-max);
}
uc-confirmation-dialog .toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: var(--gap-mid);
}
uc-confirmation-dialog .confirm-btn {
  /* nothing to say */
}
uc-confirmation-dialog .deny-btn {
  /* nothing to say */
}