:root {
  --rgb-1: 20, 20, 20;
  --rgb-2: 240, 240, 240;
  --clr-1: rgb(var(--rgb-1));
  --clr-2: rgb(var(--rgb-2));

  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;
}

html, body {
  padding: 0;
  margin: 0;
}

layout-css {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}

layout-css > header, layout-css > footer {
  background-color: var(--clr-1);
  color: var(--clr-2);
  padding: var(--gap-max);
}