uc-drop-area {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-dashed);
  border-radius: var(--border-radius-frame);
  padding: var(--gap-min);
  transition: border-color var(--transition-duration) ease, 
              background-color var(--transition-duration) ease, 
              opacity var(--transition-duration) ease;
}
uc-drop-area::after {
  content: var(--l10n-drop-files-here);
  color: var(--clr-txt-light);
}

uc-drop-area[ghost][drag-state="inactive"] {
  opacity: 0;
}

uc-drop-area[drag-state="inactive"] {
  background-color: var(--clr-shade-lv1);
}

uc-drop-area[drag-state="active"] {
  opacity: 1;
  background-color: var(--clr-accent-lightest);
}

uc-drop-area[drag-state="near"] {
  opacity: 1;
}

uc-drop-area[drag-state="near"], uc-drop-area:hover {
  background-color: var(--clr-accent-lightest);
  border-color: var(--clr-accent-light);
}

uc-drop-area[drag-state="over"] {
  opacity: 1;
  background-color: var(--clr-accent-lightest);
  border-color: var(--clr-accent);
}
