uc-drop-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border-dashed);
  border-radius: var(--border-radius-max);
  background-color: var(--clr-shade-lv1);
  transition: background-color var(--transition-duration), border-color var(--transition-duration);
  padding: var(--gap-min);
}
uc-drop-area:hover {
  background-color: var(--clr-shade-lv2);
  border-color: var(--clr-shade-lv3);
}
uc-drop-area::before {
  content: var(--l10n-drop-files-here);
  color: var(--clr-txt-light);
  padding: var(--gap-mid);
  transition: color var(--transition-duration);
}
uc-drop-area:hover::before{
  color:var(--clr-txt-mid);
}
