uc-drop-area {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-dashed);
  border-radius: var(--border-radius-max);
  background-color: var(--clr-shade-lv1);
  padding: var(--gap-min);
}
uc-drop-area::after {
  content: var(--l10n-drop-files-here);
  color: var(--clr-txt-light);
}
