@import url('../../../themes/uc-basic/index.css');

:host {
  display: inline-flex;

  --cfg-multiple: 0;
  --cfg-img-only: 1;
  --cfg-thumb-size: 380;
  --cfg-show-empty-list: 0;
}

uc-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 190px;
  width: 190px;
  border-radius: 100%;
  border: none;
  background-color: var(--clr-shade-lv1);
  padding: var(--gap-min);
  overflow: hidden;
}
uc-drop-area::after {
  content: '';
}

uc-start-from {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.browse-link {
  color: currentColor;
  cursor: pointer;
  text-decoration: underline;
}

uc-file-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-duration);
  background-color: transparent;
  border: none;
}

uc-file-item[uploading] .edit-btn {
  display: none;
}
uc-file-item .thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
uc-file-item .file-name {
  display: none;
}
uc-file-item button {
  position: absolute;
  z-index: 1000;
  width: var(--ui-size);
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, .4);
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  padding: 0;
  opacity: var(--opacity-mid);
  border: 2px solid transparent;
  transition: .4s;
}

uc-file-item button uc-icon svg {
  height: 26px;
  width: 26px;
}

uc-file-item .edit-btn {
  display: inline-flex;
  transform: translate(0, 120%) scale(110%);
}
uc-file-item .remove-btn {
  display: inline-flex;
  transform: translate(-120%, 90%);
}
uc-file-item .upload-btn {
  display: inline-flex;
  transform: translate(120%, 90%);
}
uc-file-item[uploading] .upload-btn,
uc-file-item[loaded] .upload-btn {
  pointer-events: none;
  opacity: .4;
}

uc-file-item:hover button,
uc-file-item[focused] button {
  opacity: 1;
}
uc-file-item button:hover {
  color: #fff;
  border: 2px solid #fff;
}
uc-file-item .progress {
  position: absolute;
  pointer-events: none;
  top: calc(100% - 2px);
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 1;
  background-color: var(--clr-accent-light);
  transition: 0.6s;
}

uc-upload-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
uc-upload-list:not([active]) {
  display: none;
}
uc-upload-list .files {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
uc-upload-list .toolbar {
  display: none;
}



