uc-message-box {
  position: fixed;
  z-index: 100000;
  bottom: var(--gap-mid);
  left: var(--gap-mid);
  right: var(--gap-mid);
  display: grid;
  grid-template-rows: min-content auto;
  background: var(--clr-background);
  color: var(--clr-txt);
  font-size: 0.9em;
  transition: calc(var(--transition-duration) * 2);
  border-radius: var(--border-radius-frame);
  box-shadow: var(--modal-shadow);
}

uc-message-box:not([active]) {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}

uc-message-box[error] {
  background-color: var(--clr-error-message-bgr);
  color: var(--clr-error);
}

uc-message-box .heading {
  display: grid;
  grid-template-columns: min-content auto min-content;
  padding: var(--gap-mid);
}

uc-message-box .caption {
  display: flex;
  align-items: center;
  word-break: break-word;
}

uc-message-box .heading button {
  padding: 0;
  background-color: transparent;
  width: var(--ui-size);
  color: currentColor;
  opacity: var(--opacity-normal);
}

uc-message-box .heading button:hover {
  opacity: var(--opacity-hover);
}

uc-message-box .heading button:active {
  opacity: var(--opacity-active);
}

uc-message-box .msg {
  padding: var(--gap-max);
  padding-top: 0;
}
