.uc-wgt-theme,
.uc-wgt-common,
:host {
  color: var(--clr-txt);

  /* font-size and family for testing purposes, to be removed */
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) * {
  box-sizing: border-box;
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) [hidden] {
  display: none !important;
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) [activity]:not([active]) {
  display: none;
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--ui-size);
  padding-right: 1.4em;
  padding-left: 1.4em;
  font-size: 1em;
  font-family: inherit;
  white-space: nowrap;
  border: none;
  border-radius: var(--border-radius-element);
  cursor: pointer;
  user-select: none;
}

:where(.uc-wgt-theme, .uc-wgt-common, :host)
  :where(button[disabled], button.primary-btn[disabled], button.secondary-btn[disabled]) {
  color: var(--clr-btn-txt-disabled);
  background-color: var(--clr-btn-bgr-disabled);
  box-shadow: var(--shadow-btn-disabled);
  pointer-events: none;
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) button.primary-btn {
  color: var(--clr-btn-txt-primary);
  background-color: var(--clr-btn-bgr-primary);
  box-shadow: var(--shadow-btn-primary);
  transition: background-color var(--transition-duration);
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) button.primary-btn:hover {
  background-color: var(--clr-btn-bgr-primary-hover);
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) button.primary-btn:active {
  background-color: var(--clr-btn-bgr-primary-active);
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) button.secondary-btn {
  color: var(--clr-btn-txt-secondary);
  background-color: var(--clr-btn-bgr-secondary);
  box-shadow: var(--shadow-btn-secondary);
  transition: background-color var(--transition-duration);
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) button.secondary-btn:hover {
  background-color: var(--clr-btn-bgr-secondary-hover);
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) button.secondary-btn:active {
  background-color: var(--clr-btn-bgr-secondary-active);
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) a {
  color: var(--clr-accent);
  text-decoration: none;
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) a[disabled] {
  pointer-events: none;
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) input[type='text'] {
  display: flex;
  width: 100%;
  height: var(--ui-size);
  padding-right: 0.6em;
  padding-left: 0.6em;
  color: var(--clr-txt);
  font-size: var(--font-size-ui);
  font-family: inherit;
  background-color: var(--clr-background-light);
  border: var(--border-mid);
  border-radius: var(--border-radius-element);
  box-shadow: var(--inset-shadow);
  transition: var(--transition-duration);
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) input[type='text']:hover {
  border-color: var(--clr-accent-light);
}

:where(.uc-wgt-theme, .uc-wgt-common, :host) input[type='text']:focus {
  border-color: var(--clr-accent);
  outline: none;
}
