.uc-wgt-cfg,
.uc-wgt-common,
:host {
  --cfg-multiple: 1;
  --cfg-confirm-upload: 1;
  --cfg-img-only: 0;
  --cfg-accept: '';
  --cfg-store: 1;
  --cfg-camera-mirror: 1;
  --cfg-source-list: 'local, url, camera, dropbox, gdrive, facebook';
  --cfg-max-files: 10;
  --cfg-max-local-file-size-bytes: 30000;
  --cfg-thumb-size: 76;
  --cfg-show-empty-list: 0;
  --cfg-use-local-image-editor: 0;
  --cfg-use-cloud-image-editor: 0;

  --cfg-modal-scroll-lock: 1;
  --cfg-modal-backdrop-strokes: 1;

  --cfg-source-list-wrap: 1;

  --cfg-init-activity: 'start-from';
  --cfg-done-activity: 'start-from';
  --cfg-cancel-activity: 'start-from';

  --cfg-data-output-console: 1;
  --cfg-data-output-fire-events: 1;
  --cfg-data-output-from: '*dataOutput';
  --cfg-data-output-form-value: 1;
}
