:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular) {
  color: var(--uc-foreground);
  font-size: var(--uc-font-size);
  font-family: var(--uc-font-family);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular) * {
  box-sizing: border-box;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  [hidden] {
  display: none !important;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  [activity]:not([active]) {
  display: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  dialog:not([open])
  [activity] {
  display: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uc-size);
  padding-right: 14px;
  padding-left: 14px;
  font-size: 1em;
  font-family: inherit;
  white-space: nowrap;
  border: none;
  border-radius: var(--uc-radius);
  cursor: pointer;
  user-select: none;
  transition: background-color var(--uc-transition);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.primary-btn {
  color: var(--uc-primary-foreground);
  background-color: var(--uc-primary);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.primary-btn:hover {
  background-color: var(--uc-primary-hover);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.secondary-btn {
  color: var(--uc-secondary-foreground);
  background-color: var(--uc-secondary);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.secondary-btn:hover {
  background-color: var(--uc-secondary-hover);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.mini-btn {
  width: var(--uc-size);
  height: var(--uc-size);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition-duration) ease;
  color: var(--clr-txt);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.mini-btn:hover {
  background-color: var(--clr-shade-lv1);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.mini-btn:active {
  background-color: var(--clr-shade-lv2);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  :is(button[disabled], button.primary-btn[disabled], button.secondary-btn[disabled]) {
  color: var(--clr-btn-txt-disabled);
  background-color: var(--clr-btn-bgr-disabled);
  box-shadow: var(--shadow-btn-disabled);
  pointer-events: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular) a {
  color: var(--clr-accent);
  text-decoration: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  a[disabled] {
  pointer-events: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  input[type='text'] {
  display: flex;
  width: 100%;
  height: var(--uc-size);
  padding-right: 0.6em;
  padding-left: 0.6em;
  color: var(--clr-txt);
  font-size: 1em;
  font-family: inherit;
  background-color: var(--clr-background-light);
  border: var(--border-light);
  border-radius: var(--border-radius-element);
  transition: var(--transition-duration);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  input[type='text']::placeholder {
  color: var(--clr-txt-lightest);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  input[type='text']:hover {
  border-color: var(--clr-accent-light);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  input[type='text']:focus {
  border-color: var(--clr-accent);
  outline: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  input[disabled] {
  opacity: 0.6;
  pointer-events: none;
}
