:where(.lr-wgt-theme, .lr-wgt-common),
:host {
  color: var(--clr-txt);

  /* font-size and family for testing purposes, to be removed */
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

:where(.lr-wgt-theme, .lr-wgt-common) *,
:host * {
  box-sizing: border-box;
}

:where(.lr-wgt-theme, .lr-wgt-common) [hidden],
:host [hidden] {
  display: none !important;
}

:where(.lr-wgt-theme, .lr-wgt-common) [activity]:not([active]),
:host [activity]:not([active]) {
  display: none;
}

:where(.lr-wgt-theme, .lr-wgt-common) dialog:not([open]) [activity],
:host dialog:not([open]) [activity] {
  display: none;
}

:where(.lr-wgt-theme, .lr-wgt-common) button,
:host button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--ui-size);
  padding-right: 1.4em;
  padding-left: 1.4em;
  font-size: 1em;
  font-family: inherit;
  white-space: nowrap;
  border: none;
  border-radius: var(--border-radius-element);
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 800px) {
  :where(.lr-wgt-theme, .lr-wgt-common) button,
  :host button {
    padding-right: 1em;
    padding-left: 1em;
  }
}

:where(.lr-wgt-theme, .lr-wgt-common) button.primary-btn,
:host button.primary-btn {
  color: var(--clr-btn-txt-primary);
  background-color: var(--clr-btn-bgr-primary);
  box-shadow: var(--shadow-btn-primary);
  transition: background-color var(--transition-duration);
}

:where(.lr-wgt-theme, .lr-wgt-common) button.primary-btn:hover,
:host button.primary-btn:hover {
  background-color: var(--clr-btn-bgr-primary-hover);
}

:where(.lr-wgt-theme, .lr-wgt-common) button.primary-btn:active,
:host button.primary-btn:active {
  background-color: var(--clr-btn-bgr-primary-active);
}

:where(.lr-wgt-theme, .lr-wgt-common) button.secondary-btn,
:host button.secondary-btn {
  color: var(--clr-btn-txt-secondary);
  background-color: var(--clr-btn-bgr-secondary);
  box-shadow: var(--shadow-btn-secondary);
  transition: background-color var(--transition-duration);
}

:where(.lr-wgt-theme, .lr-wgt-common) button.secondary-btn:hover,
:host button.secondary-btn:hover {
  background-color: var(--clr-btn-bgr-secondary-hover);
}

:where(.lr-wgt-theme, .lr-wgt-common) button.secondary-btn:active,
:host button.secondary-btn:active {
  background-color: var(--clr-btn-bgr-secondary-active);
}

:where(.lr-wgt-theme, .lr-wgt-common) button.mini-btn,
:host button.mini-btn {
  width: var(--ui-size);
  height: var(--ui-size);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition-duration) ease;
  color: var(--clr-txt);
}

:where(.lr-wgt-theme, .lr-wgt-common) button.mini-btn:hover,
:host button.mini-btn:hover {
  background-color: var(--clr-shade-lv1);
}

:where(.lr-wgt-theme, .lr-wgt-common) button.mini-btn:active,
:host button.mini-btn:active {
  background-color: var(--clr-shade-lv2);
}

:where(.lr-wgt-theme, .lr-wgt-common)
  :is(button[disabled], button.primary-btn[disabled], button.secondary-btn[disabled]),
:host :is(button[disabled], button.primary-btn[disabled], button.secondary-btn[disabled]) {
  color: var(--clr-btn-txt-disabled);
  background-color: var(--clr-btn-bgr-disabled);
  box-shadow: var(--shadow-btn-disabled);
  pointer-events: none;
}

:where(.lr-wgt-theme, .lr-wgt-common) a,
:host a {
  color: var(--clr-accent);
  text-decoration: none;
}

:where(.lr-wgt-theme, .lr-wgt-common) a[disabled],
:host a[disabled] {
  pointer-events: none;
}

:where(.lr-wgt-theme, .lr-wgt-common) input[type='text'],
:host input[type='text'] {
  display: flex;
  width: 100%;
  height: var(--ui-size);
  padding-right: 0.6em;
  padding-left: 0.6em;
  color: var(--clr-txt);
  font-size: 1em;
  font-family: inherit;
  background-color: var(--clr-background-light);
  border: var(--border-light);
  border-radius: var(--border-radius-element);
  transition: var(--transition-duration);
}

:where(.lr-wgt-theme, .lr-wgt-common) input[type='text'],
:host input[type='text']::placeholder {
  color: var(--clr-txt-lightest);
}

:where(.lr-wgt-theme, .lr-wgt-common) input[type='text']:hover,
:host input[type='text']:hover {
  border-color: var(--clr-accent-light);
}

:where(.lr-wgt-theme, .lr-wgt-common) input[type='text']:focus,
:host input[type='text']:focus {
  border-color: var(--clr-accent);
  outline: none;
}

:where(.lr-wgt-theme, .lr-wgt-common) input[disabled],
:host input[disabled] {
  opacity: 0.6;
  pointer-events: none;
}
