:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular) {
  color: var(--uc-foreground);
  font-size: var(--uc-font-size);
  font-family: var(--uc-font-family);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular) * {
  box-sizing: border-box;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  [hidden] {
  display: none !important;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  [activity]:not([active]) {
  display: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  dialog:not([open])
  [activity] {
  display: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uc-button-size);
  padding-right: 14px;
  padding-left: 14px;
  font-size: 1em;
  font-family: inherit;
  white-space: nowrap;
  border: none;
  border-radius: var(--uc-radius);
  cursor: pointer;
  user-select: none;
  transition: background-color var(--uc-transition);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.primary-btn {
  color: var(--uc-primary-foreground);
  background-color: var(--uc-primary);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.primary-btn:hover {
  background-color: var(--uc-primary-hover);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.secondary-btn {
  color: var(--uc-secondary-foreground);
  background-color: var(--uc-secondary);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.secondary-btn:hover {
  background-color: var(--uc-secondary-hover);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.mini-btn {
  height: var(--uc-button-size);
  padding: 0;
  background-color: transparent;
  color: var(--uc-secondary-foreground);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  button.mini-btn:hover {
  background-color: var(--uc-secondary);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  :is(button[disabled], button.primary-btn[disabled], button.secondary-btn[disabled]) {
  opacity: 0.5;
  pointer-events: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular) a {
  color: var(--uc-primary);
  text-decoration: none;
}

/* TODO: if we're using disabled <a> somewhere, we should stop */
:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  a[disabled] {
  pointer-events: none;
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  input[type='text'] {
  display: flex;
  width: 100%;
  height: var(--uc-button-size);
  padding-right: 10px;
  padding-left: 10px;
  color: var(--uc-foreground);
  font-size: 1em;
  font-family: inherit;
  background-color: var(--uc-background);
  border: 1px solid var(--uc-border);
  outline: 1px solid transparent;
  border-radius: var(--uc-radius);
  transition:
    border-color var(--uc-transition),
    outline-color var(--uc-transition);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  input[type='text']::placeholder {
  color: var(--uc-muted-foreground);
}

:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  input[type='text']:focus {
  outline-color: var(--uc-primary-hover);
  border-color: var(--uc-primary-hover);
}

/* TODO: check if there's any necessity of disabled input */
:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular)
  input[disabled] {
  opacity: 0.6;
  pointer-events: none;
}
