:where(.lr-wgt-cfg, .lr-wgt-common),
:host {
  --cfg-pubkey: 'YOUR_PUBLIC_KEY';
  --cfg-multiple: 1;
  --cfg-multiple-min: 0;
  --cfg-multiple-max: 0;

  --cfg-confirm-upload: 0;
  --cfg-img-only: 0;
  --cfg-accept: '';
  --cfg-external-sources-preferred-types: '';
  --cfg-store: 'auto';
  --cfg-camera-mirror: 1;
  --cfg-source-list: 'local, url, camera, dropbox, gdrive';
  --cfg-max-local-file-size-bytes: 0;
  --cfg-thumb-size: 76;
  --cfg-show-empty-list: 0;
  --cfg-use-local-image-editor: 0;
  --cfg-use-cloud-image-editor: 1;
  --cfg-remove-copyright: 0;

  --cfg-modal-scroll-lock: 1;
  --cfg-modal-backdrop-strokes: 0;

  --cfg-source-list-wrap: 1;

  --cfg-init-activity: 'start-from';
  --cfg-done-activity: '';

  --cfg-remote-tab-session-key: '';
  --cfg-cdn-cname: 'https://ucarecdn.com';
  --cfg-base-url: 'https://upload.uploadcare.com';
  --cfg-social-base-url: 'https://social.uploadcare.com';
  --cfg-secure-signature: '';
  --cfg-secure-expire: '';
  --cfg-secure-delivery-proxy: '';
  --cfg-retry-throttled-request-max-times: 1;
  --cfg-multipart-min-file-size: 26214400; /* 25MB */
  --cfg-multipart-chunk-size: 5242880; /* 5MB */
  --cfg-max-concurrent-requests: 10;
  --cfg-multipart-max-concurrent-requests: 4;
  --cfg-multipart-max-attempts: 3;
  --cfg-check-for-url-duplicates: 0;
  --cfg-save-url-for-recurrent-uploads: 0;

  --cfg-group-output: 0;
  --cfg-user-agent-integration: '';
}
