:where(.lr-wgt-theme, .lr-wgt-common),
:host {
  /* Base values */

  --darkmode: 0;

  --h-foreground: 208;
  --s-foreground: 4%;
  --l-foreground: calc(10% + 78% * var(--darkmode));

  --h-background: 208;
  --s-background: 4%;
  --l-background: calc(97% - 85% * var(--darkmode));

  --h-accent: 211;
  --s-accent: 100%;
  --l-accent: calc(50% - 5% * var(--darkmode));

  --h-confirm: 137;
  --s-confirm: 85%;
  --l-confirm: 53%;

  --h-error: 358;
  --s-error: 100%;
  --l-error: 66%;

  --shadows: 1;

  --h-shadow: 0;
  --s-shadow: 0%;
  --l-shadow: 0%;

  --opacity-normal: 0.6;
  --opacity-hover: 0.9;
  --opacity-active: 1;

  --ui-size: 32px;

  --gap-min: 2px;
  --gap-small: 4px;
  --gap-mid: 10px;
  --gap-max: 20px;
  --gap-table: 0px;

  --borders: 1;

  --border-radius-element: 8px;
  --border-radius-frame: 12px;
  --border-radius-thumb: 6px;

  --transition-duration: 0.2s;

  --modal-max-w: 800px;
  --modal-max-h: 600px;
  --modal-normal-w: 430px;

  /* Derivative values */

  --darkmode-minus: calc(1 + var(--darkmode) * -2);

  --clr-background: hsl(var(--h-background), var(--s-background), var(--l-background));
  --clr-background-dark: hsl(
    var(--h-background),
    var(--s-background),
    calc(var(--l-background) - 3% * var(--darkmode-minus))
  );
  --clr-background-light: hsl(
    var(--h-background),
    var(--s-background),
    calc(var(--l-background) + 3% * var(--darkmode-minus))
  );

  --clr-accent: hsl(var(--h-accent), var(--s-accent), calc(var(--l-accent) + 15% * var(--darkmode)));
  --clr-accent-light: hsla(var(--h-accent), var(--s-accent), var(--l-accent), 30%);
  --clr-accent-lightest: hsla(var(--h-accent), var(--s-accent), var(--l-accent), 10%);
  --clr-accent-light-opaque: hsl(var(--h-accent), var(--s-accent), calc(var(--l-accent) + 45% * var(--darkmode-minus)));
  --clr-accent-lightest-opaque: hsl(
    var(--h-accent),
    var(--s-accent),
    calc(var(--l-accent) + 47% * var(--darkmode-minus))
  );

  --clr-confirm: hsl(var(--h-confirm), var(--s-confirm), var(--l-confirm));

  --clr-error: hsl(var(--h-error), var(--s-error), var(--l-error));
  --clr-error-light: hsla(var(--h-error), var(--s-error), var(--l-error), 15%);
  --clr-error-lightest: hsla(var(--h-error), var(--s-error), var(--l-error), 5%);
  --clr-error-message-bgr: hsl(var(--h-error), var(--s-error), calc(var(--l-error) + 31% * var(--darkmode-minus)));

  --clr-txt: hsl(var(--h-foreground), var(--s-foreground), var(--l-foreground));
  --clr-txt-mid: hsl(var(--h-foreground), var(--s-foreground), calc(var(--l-foreground) + 20% * var(--darkmode-minus)));
  --clr-txt-light: hsl(
    var(--h-foreground),
    var(--s-foreground),
    calc(var(--l-foreground) + 30% * var(--darkmode-minus))
  );
  --clr-txt-lightest: hsl(
    var(--h-foreground),
    var(--s-foreground),
    calc(var(--l-foreground) + 50% * var(--darkmode-minus))
  );

  --clr-shade-lv1: hsla(var(--h-foreground), var(--s-foreground), var(--l-foreground), 5%);
  --clr-shade-lv2: hsla(var(--h-foreground), var(--s-foreground), var(--l-foreground), 8%);
  --clr-shade-lv3: hsla(var(--h-foreground), var(--s-foreground), var(--l-foreground), 12%);

  --clr-generic-file-icon: var(--clr-txt-lightest);

  --border-light: 1px solid
    hsla(
      var(--h-foreground),
      var(--s-foreground),
      var(--l-foreground),
      calc((0.1 - 0.05 * var(--darkmode)) * var(--borders))
    );
  --border-mid: 1px solid
    hsla(
      var(--h-foreground),
      var(--s-foreground),
      var(--l-foreground),
      calc((0.2 - 0.1 * var(--darkmode)) * var(--borders))
    );
  --border-accent: 1px solid hsla(var(--h-accent), var(--s-accent), var(--l-accent), 1 * var(--borders));
  --border-dashed: 1px dashed
    hsla(var(--h-foreground), var(--s-foreground), var(--l-foreground), calc(0.2 * var(--borders)));

  --clr-curtain: hsla(var(--h-background), var(--s-background), calc(var(--l-background)), 60%);

  --hsl-shadow: var(--h-shadow), var(--s-shadow), var(--l-shadow);

  --modal-shadow: 0px 0px 1px hsla(var(--hsl-shadow), calc((0.3 + 0.65 * var(--darkmode)) * var(--shadows))),
    0px 6px 20px hsla(var(--hsl-shadow), calc((0.1 + 0.4 * var(--darkmode)) * var(--shadows)));

  --clr-btn-bgr-primary: var(--clr-accent);
  --clr-btn-bgr-primary-hover: hsl(
    var(--h-accent),
    var(--s-accent),
    calc(var(--l-accent) - 4% * var(--darkmode-minus))
  );
  --clr-btn-bgr-primary-active: hsl(
    var(--h-accent),
    var(--s-accent),
    calc(var(--l-accent) - 8% * var(--darkmode-minus))
  );
  --clr-btn-txt-primary: hsl(var(--h-accent), var(--s-accent), 98%);
  --shadow-btn-primary: none;

  --clr-btn-bgr-secondary: hsl(
    var(--h-background),
    var(--s-background),
    calc(var(--l-background) - 3% * var(--darkmode-minus))
  );
  --clr-btn-bgr-secondary-hover: hsl(
    var(--h-background),
    var(--s-background),
    calc(var(--l-background) - 7% * var(--darkmode-minus))
  );
  --clr-btn-bgr-secondary-active: hsl(
    var(--h-background),
    var(--s-background),
    calc(var(--l-background) - 12% * var(--darkmode-minus))
  );
  --clr-btn-txt-secondary: var(--clr-txt-mid);
  --shadow-btn-secondary: none;

  --clr-btn-bgr-disabled: var(--clr-background);
  --clr-btn-txt-disabled: var(--clr-txt-lightest);
  --shadow-btn-disabled: none;
}

@media only screen and (max-height: 600px) {
  :where(.lr-wgt-theme, .lr-wgt-common),
  :host {
    --modal-max-h: 100%;
  }
}

@media only screen and (max-width: 430px) {
  :where(.lr-wgt-theme, .lr-wgt-common),
  :host {
    --modal-max-w: 100vw;
    --modal-max-h: var(--uploadcare-blocks-window-height);
  }
}
