:where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular) {
  /* Font */

  --uc-font-family: inter, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --uc-font-size: 14px;

  /* Light colors */

  --uc-background: oklch(100% 0 0);
  --uc-foreground: oklch(21% 0.006 285.9);
  --uc-primary-oklch: 59% 0.22 264;
  --uc-primary: oklch(59% 0.22 264);
  --uc-primary-hover: oklch(59% 0.22 264 / 0.9);
  --uc-primary-transparent: oklch(59% 0.22 264 / 0.1);
  --uc-primary-foreground: oklch(100% 0 0);
  --uc-secondary: oklch(21% 0.006 285.9 / 0.05);
  --uc-secondary-hover: oklch(21% 0.006 285.9 / 0.08);
  --uc-secondary-foreground: oklch(21% 0.006 285.9);
  --uc-muted: oklch(97% 0.001 286.4);
  --uc-muted-foreground: oklch(55% 0.012 286);
  --uc-destructive: oklch(59% 0.235 28.5 / 0.05);
  --uc-destructive-foreground: oklch(59% 0.235 28.5);
  --uc-border: oklch(92% 0.004 286.3);
  --uc-dialog-shadow: 0px 6px 20px oklch(0% 0 0 / 0.1);

  /* Dark colors 

  --uc-background: oklch(22% 0.002 197.1);
  --uc-foreground: oklch(91% 0.002 197.1);
  --uc-primary: oklch(69% 0.1768 258.4);
  --uc-primary-hover: oklch(69% 0.1768 258.4 / 0.9);
  --uc-primary-transparent: oklch(69% 0.1768 258.4 / 0.075);
  --uc-primary-foreground: oklch(0% 0 0);
  --uc-secondary: oklch(91% 0.002 197.1 / 0.07);
  --uc-secondary-hover: oklch(91% 0.002 197.1 / 0.1);
  --uc-secondary-foreground: oklch(91% 0.002 197.1);
  --uc-muted: oklch(26% 0.002 197.1);
  --uc-muted-foreground: oklch(68% 0.002 197.1);
  --uc-destructive: oklch(67% 0.191 27.5 / 0.05);
  --uc-destructive-foreground: oklch(67% 0.191 27.5);
  --uc-border: oklch(36% 0.005 286.1);
  --uc-dialog-shadow: 0px 6px 20px oklch(0% 0 0 / 0.25);
   
  */

  /* Sizes */

  --uc-button-size: 32px;
  --uc-preview-size: 32px;
  --uc-padding: 10px;
  --uc-radius: 8px;
  --uc-transition: 0.2s ease;
  --uc-dialog-width: 430px;
  --uc-dialog-max-width: 800px;
  --uc-dialog-max-height: 600px;

  /* SimpleBtn */

  --uc-simple-btn: var(--uc-secondary);
  --uc-simple-btn-hover: var(--uc-secondary-hover);
  --uc-simple-btn-foreground: var(--uc-secondary-foreground);
  --uc-simple-btn-font-size: var(--uc-font-size);
  --uc-simple-btn-font-family: var(--uc-font-family);
  --uc-simple-btn-padding: 7px 14px;

  /* TO BE REMOVED */

  --darkmode: 0;
}

@media only screen and (max-height: 600px) {
  :where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular) {
    --uc-dialog-max-height: 100%;
  }
}

@media only screen and (max-width: 430px) {
  :where(.lr-wgt-theme, .lr-wgt-common, lr-file-uploader-minimal, lr-file-uploader-inline, lr-file-uploader-regular) {
    --uc-dialog-max-width: 100vw;
    --uc-dialog-max-height: var(--uploadcare-blocks-window-height);
  }
}
