uc-range {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

uc-range datalist {
  display: none;
}

uc-range input {
  opacity: 0;
  height: 100%;
  width: 100%;
}

uc-range .track {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: var(--clr-2);
  left: 0;
  right: 0;
  height: var(--ui-size);
}

uc-range .slider {
  position: absolute;
  background-color: transparent;
  height: var(--ui-size);
  width: var(--ui-size);
  border-radius: 100%;
  transform: translateX(-50%);
}

uc-range .bar {
  position: absolute;
  height: var(--ui-size);
  left: 0;
  background-color: var(--clr-1);
}

uc-range .center {
  position: absolute;
  background-color: var(--clr-2);
  height: 3px;
  width: 3px;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%);
}

uc-range .caption {
  position: absolute;
  user-select: none;
}