uc-range {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--ui-size);
}

uc-range datalist {
  display: none;
}

uc-range input {
  opacity: 0;
  height: 100%;
  width: 100%;
}

uc-range .track {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: var(--clr-shade-lv1);
  left: 0;
  right: 0;
  height: var(--ui-size);
  border: 2px solid var(--clr-background);
  user-select: none;
}

uc-range .slider {
  position: absolute;
  background-color: transparent;
  height: var(--ui-size);
  width: var(--ui-size);
  border-radius: 100%;
  transform: translateX(-50%);
}

uc-range .bar {
  position: absolute;
  height: 100%;
  left: 0;
  background-color: var(--clr-accent);
  transition: opacity .2s;
  opacity: .5;
}
uc-range:hover:active .bar {
  opacity: 1;
}

uc-range .center {
  position: absolute;
  height: 100%;
  border: 4px solid transparent;
  border-top: 4px solid var(--clr-background);
  border-bottom: 4px solid var(--clr-background);
  left: 50%;
  transform: translateX(-50%);
}

uc-range .caption {
  display: inline-flex;
  justify-content: center;
  position: absolute;
}
