uc-upload-list {
  display: grid;
  transition: opacity var(--ui-transition);
}
uc-upload-list:not([active]) {
  display: none;
}
uc-upload-list .files-el {
  display: grid;
}
uc-upload-list .toolbar-el {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-gap: var(--gap-mid);
  padding: var(--gap-mid);
  border-top: var(--border-light);
}
uc-upload-list .upload-btn {
  background-color: var(--clr-shade-1);
  color: var(--clr-1);
}
uc-upload-list .add-more-btn {
  background-color: transparent;
  color: var(--clr-1);
}

uc-upload-list .cancel-btn {
  background-color: var(--clr-2);
  color: var(--clr-txt);
}

uc-upload-list .add-more-row {
  height: 60px;
  width: 100%;
}