uc-upload-list {
  --activity-desired-w: 600px;

  display: grid;
  grid-template-rows: auto max-content;
  background-color: var(--clr-background-light);
  transition: opacity var(--transition-duration);
  overflow: hidden;
  height: 100%;
}
uc-upload-list:not([active]) {
  display: none;
}
uc-upload-list .files {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: var(--file-item-height);
  overflow: auto;
}
uc-upload-list .toolbar {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-gap: var(--gap-mid);
  padding: var(--gap-mid);
  border-top: var(--border-light);
  background-color: var(--clr-background);
}
uc-upload-list .upload-btn {
  /* nothing to say */
}
uc-upload-list .done-btn {
  /* nothing to say */
}
uc-upload-list .add-more-btn {
  /* nothing to say */
}

uc-upload-list .cancel-btn {
  /* nothing to say */
}
