.uc-wgt-l10n_en-US, .uc-wgt-common, :host {
  --l10n-upload-file: 'Upload File';
  --l10n-upload-files: 'Upload Files';
  --l10n-drop-files-here: 'Or drop files here...';
  --l10n-select-file-source: 'Select file source';
  --l10n-selected: 'Selected:';
  --l10n-upload: 'Upload';
  --l10n-add-more: 'Add more';
  --l10n-cancel: 'Cancel';
  --l10n-camera-shot: 'Shot';
  --l10n-upload-url: 'Import';
  --l10n-edit-image: 'Edit image';
  --l10n-edit-detail: 'Details';
  --l10n-back: 'Back';
  --l10n-done: 'Done';
  --l10n-remove-from-list: 'Remove';
  --l10n-no: 'No';
  --l10n-yes: 'Yes';
  --l10n-confirm-your-action: 'Confirm your action';
  --l10n-are-you-sure: 'Are you sure?';
  --l10n-selected-count: 'Selected:';
  --l10n-upload-error: 'Upload error';

  --l10n-src-type-local: 'Local file';
  --l10n-src-type-from-url: 'From URL';
  --l10n-src-type-camera: 'Camera';
  --l10n-src-type-draw: 'Draw';
  --l10n-src-type-facebook: 'Facebook';
  --l10n-src-type-dropbox: 'Dropbox';
  --l10n-src-type-gdrive: 'Gdrive';
  --l10n-src-type-gphotos: 'Gphotos';
  --l10n-src-type-instagram: 'Instagram';
  --l10n-src-type-flickr: 'Flickr';
  --l10n-src-type-vk: 'Vk';
  --l10n-src-type-evernote: 'Evernote';
  --l10n-src-type-box: 'Box';
  --l10n-src-type-onedrive: 'Onedrive';
  --l10n-src-type-huddle: 'Huddle';
  --l10n-src-type-other: 'Other';

  --l10n-src-type: var(--l10n-src-type-local);

  --l10n-caption-from-url: 'Import from external URL';
  --l10n-caption-camera: 'Camera';
  --l10n-caption-draw: 'Draw';
  --l10n-caption-edit-file: 'Edit file';

  --l10n-file-no-name: 'No name...';

  --l10n-toggle-fullscreen: 'Toggle fullscreen';
  --l10n-toggle-guides: 'Toggle guides';
  --l10n-rotate: 'Rotate';
  --l10n-flip-vertical: 'Flip vertical';
  --l10n-flip-horizontal: 'Flip horizontal';
  --l10n-brightness: 'Brightness';
  --l10n-contrast: 'Contrast';
  --l10n-saturation: 'Saturation';
  --l10n-resize: 'Resize image';
  --l10n-crop: 'Crop';
  --l10n-select-color: 'Select color';
  --l10n-text: 'Text';
  --l10n-draw: 'Draw';
  --l10n-cancel-edit: 'Cancel edit';

  --l10n-tab-view: 'Preview';
  --l10n-tab-details: 'Details';

  --l10n-file-name: 'Name';
  --l10n-file-size: 'Size';
  --l10n-cdn-url: 'CDN URL';
}

.uc-wgt-l10n_ru {
  --l10n-upload-files: 'Загрузить файлы';
  --l10n-drop-files-here: 'Перетащите файлы сюда...';
  --l10n-select-file-source: 'Выбрать источник загрузки';
  --l10n-selected: 'Выбрано:';
  --l10n-upload: 'Загрузить';
  --l10n-add-more: 'Добавить';
  --l10n-cancel: 'Отмена';
  --l10n-camera-shot: 'Сделать фото';
  --l10n-upload-url: 'Импорт';
  --l10n-edit-image: 'Редактировать изображение';
  --l10n-edit-detail: 'Детали';
  --l10n-back: 'Назад';
  --l10n-remove-from-list: 'Удалить';
  --l10n-no: 'Нет';
  --l10n-yes: 'Да';
  --l10n-are-you-sure: 'Вы уверены?';
  --l10n-selected-count: 'Выбрано:';

  --l10n-src-type-local: 'На диске';
  --l10n-src-type-from-url: 'Из URL';
  --l10n-src-type-camera: 'Камера';
  --l10n-src-type-draw: 'Рисовать';

  --l10n-src-type: var(--l10n-src-type-local);

  --l10n-toggle-fullscreen: 'На полный экран';
  --l10n-toggle-guides: 'Toggle guides';
  --l10n-rotate: 'Повернуть';
  --l10n-flip-vertical: 'Отразить по вертикали';
  --l10n-flip-horizontal: 'Отразить по горизонтали';
  --l10n-brightness: 'Яркость';
  --l10n-contrast: 'Контраст';
  --l10n-saturation: 'Насыщенность';
  --l10n-resize: 'Изменить размер';
  --l10n-crop: 'Обрезать';
  --l10n-select-color: 'Цвет';
  --l10n-text: 'Текст';
  --l10n-draw: 'Рисование';
  --l10n-cancel-edit: 'Вернуть как было';

  --l10n-tab-view: 'Просмотр';
  --l10n-tab-details: 'Детали';
}