.uc-wgt-theme, .uc-wgt-common, :host {
  --rgb-1: 89, 101, 112;
  --rgb-2: 233, 233, 233;

  --rgb-txt: 35, 35, 35;
  --rgb-err: 255, 20, 20;
  --opacity-min: 0.2;
  --opacity-mid: 0.6;
  --opacity-max: 0.8;
  --ui-size: 38px;
  --ui-radius-1: 10px;
  --ui-radius-2: 6px;
  --ui-transition: 0.2s;
  --ui-shadow: 0px 0px 1px rgba(0, 0, 0, 0.49), 0px 6px 40px rgba(0, 0, 0, 0.25), inset 0px 0px 2px rgba(255, 255, 255, 0.8);
  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;
  --line-width: 1px;
  



  /* trying HSL */
  --h-basis: 208;
  --s-basis: 4%;

  --h-action: 211;
  --s-action: 100%;

  --l-darkest: 15%;
  --l-dark: 50%;
  --l-mid: 75%;
  --l-light: 93%;
  --l-lightest: 97%;






  /*clrs*/

  
  --clr-txt: hsl(var(--h-basis),var(--s-basis),var(--l-darkest));
  --clr-soft-txt: hsl(var(--h-basis),var(--s-basis),var(--l-dark));

  --clr-primary-bgr: hsl(var(--h-basis),var(--s-basis),var(--l-lightest));
  --clr-secondary-bgr: hsl(var(--h-basis),var(--s-basis),var(--l-light));
  --clr-shader: hsla(var(--h-basis),var(--s-basis),var(--l-darkest),var(--opacity-mid));

  --clr-err: rgb(var(--rgb-err));

  --clr-btn-txt: hsl(var(--h-action),var(--s-action),var(--l-dark));

  /*borders*/
  --border-thin: 1px solid hsla(var(--h-basis),var(--s-basis),var(--l-darkest), 0.05);
  --border-dashed: 2px dashed hsla(var(--h-basis),var(--s-basis),var(--l-mid));

  /* hard to use */
  --clr-1: rgb(var(--rgb-1));
  --clr-2: rgb(var(--rgb-2));

  --clr-soft-1: rgba(var(--rgb-1), var(--opacity-mid));
  --clr-soft-2: rgba(var(--rgb-2), var(--opacity-mid));

  --clr-shade-1: rgba(var(--rgb-1), var(--opacity-min));
  --clr-shade-2: rgba(var(--rgb-2), var(--opacity-min));
}