.uc-wgt-theme, .uc-wgt-common, :host {
  --rgb-1: 194, 225, 255;
  --rgb-2: 40, 40, 40;
  --rgb-txt: 210, 210, 210;
  --rgb-err: 255, 20, 20;
  --opacity-min: 0.2;
  --opacity-mid: 0.6;
  --opacity-max: 0.8;
  --ui-size: 38px;
  --ui-radius-1: 4px;
  --ui-radius-2: 4px;
  --ui-transition: 0.2s;
  --ui-shadow: 0 2px 12px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.08);
  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;
  --line-width: 1px;

  --clr-1: rgb(var(--rgb-1));
  --clr-2: rgb(var(--rgb-2));
  --clr-txt: rgb(var(--rgb-txt));
  --clr-err: rgb(var(--rgb-err));

  --clr-soft-1: rgba(var(--rgb-1), var(--opacity-mid));
  --clr-soft-2: rgba(var(--rgb-2), var(--opacity-mid));

  --clr-shade-1: rgba(var(--rgb-1), var(--opacity-min));
  --clr-shade-2: rgba(var(--rgb-2), var(--opacity-mid));
}