@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('../../blocks/LiveHtml/live-html.css');

:root {
  --clr-bg: rgb(31 29 29);
  --clr-font: rgb(224 253 255);
  --clr-link: rgb(253 255 139);
  --clr-panel: rgb(255 255 255 / 10%);
  --clr-accent: rgb(233 159 255);
  --clr-accent-shade: rgb(233 159 255 / 6%);
  --clr-code: #fff;
  --clr-code-hl: rgb(255 112 112);

  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;
  --gap-huge: 60px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--clr-bg);
  color: var(--clr-font);
  font-family: Roboto, sans-serif;
}

body[unresolved] {
  opacity: 0;
}
