:root {
  --clr-bg: rgb(31, 29, 29);
  --clr-font: rgb(224, 253, 255);
  --clr-link: rgb(253, 255, 139);
  --clr-panel: rgba(255, 255, 255, .1);
  --clr-accent: rgb(233, 159, 255);
  --clr-accent-shade: rgba(233, 159, 255, .06);
  --clr-code: #fff;
  --clr-code-hl: rgb(255, 112, 112);

  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;
  --gap-huge: 60px;
}

body[unresolved]  {
  opacity: 0;
}
