uc-camera-source {
  --activity-desired-w: 100%;
  --activity-desired-h: var(--modal-max-h);

  display: grid;
  grid-template-rows: auto max-content;
  height: 100%;
}
uc-camera-source .video-wrapper {
  position: relative;
  overflow: hidden;
}
uc-camera-source video {
  position: absolute;
  display: block;
  background-color: var(--clr-background);
  width: 100%;
  height: 100%;
}
uc-camera-source .toolbar {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
}
uc-camera-source .shot-btn {
  /* nothing to say */
}
uc-camera-source .cancel-btn {
  /* nothing to say */
}
