uc-camera-source {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: calc(2*var(--gap-mid) + var(--ui-size));
}
uc-camera-source video {
  display: block;
  background-color: var(--clr-background);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;
}
uc-camera-source .toolbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
  background-color: var(--clr-background);
}

