uc-camera-source {
  display: grid;
  grid-template-rows: auto max-content;
  height: 100%;
}
uc-camera-source .video-wrapper {
  position: relative;
  overflow: hidden;
}
uc-camera-source video {
  display: block;
  background-color: var(--clr-background);
  width: 100%;
  height: 100%;
}
uc-camera-source .toolbar {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
}

