lr-start-from {
  display: grid;
  grid-template-columns: auto;
  gap: var(--gap-mid);

  /* height: 100%; - this breaks inner modal layout height in Safari */
  padding: var(--gap-mid);
  overflow-y: auto;
}
