lr-start-from {
  display: grid;
  grid-auto-flow: row;
  gap: var(--gap-max);
  width: 100%;
  height: max-content;
  padding: var(--gap-max);
  overflow-y: auto;
  background-color: var(--clr-background-light);
}

lr-modal lr-start-from {
  width: min(calc(var(--modal-normal-w) - var(--gap-mid) * 2), calc(100vw - var(--gap-mid) * 2));
}
