lr-start-from {
  display: block;
  overflow-y: auto;
}

lr-start-from .uc-content {
  display: grid;
  grid-auto-flow: row;
  gap: calc(var(--uc-padding) * 2);
  width: 100%;
  height: 100%;
  padding: calc(var(--uc-padding) * 2);
  background-color: var(--uc-background);
}

[lr-modal] lr-start-from {
  width: min(
    calc(var(--uc-dialog-width) - var(--uc-padding) * 2),
    calc(var(--uc-dialog-max-width) - var(--uc-padding) * 2),
    calc(100vw - var(--uc-padding) * 2)
  );
}

[lr-modal] lr-start-from lr-drop-area {
  border-radius: var(--uc-radius);
}

@media only screen and (max-width: 430px) {
  [lr-modal] lr-start-from lr-drop-area {
    display: none;
  }
}
