uc-url-source {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-gap: var(--gap-mid);
  padding: var(--gap-mid);
}

uc-url-source .url-input {
  display: flex;
}

uc-url-source .url-upload-btn::after {
  content: var(--l10n-upload-url);
}
