lr-url-source {
  display: grid;
  grid-gap: var(--gap-small);
  grid-template-columns: 1fr min-content min-content;
  padding: var(--gap-mid);
  padding-top: 0;
}

lr-url-source .url-input {
  display: flex;
}

lr-url-source .url-upload-btn::after {
  content: var(--l10n-upload-url);
}
