lr-url-source {
  display: block;
  background-color: var(--clr-background-light);
}

lr-modal lr-url-source {
  width: min(calc(var(--uc-dialog-width) - var(--gap-mid) * 2), calc(100vw - var(--gap-mid) * 2));
}

lr-url-source > .content {
  display: grid;
  grid-gap: var(--gap-small);
  grid-template-columns: 1fr min-content;
  padding: var(--gap-mid);
  padding-top: 0;
}

lr-url-source .url-input {
  display: flex;
}
