lr-url-source {
  display: block;
  background-color: var(--uc-background);
}

[lr-modal] lr-url-source {
  width: min(calc(var(--uc-dialog-width) - var(--uc-padding) * 2), calc(100vw - var(--uc-padding) * 2));
}

lr-url-source > .content {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr min-content;
  padding: var(--uc-padding);
  padding-top: 0;
}

lr-url-source .url-input {
  display: flex;
}
