:host {
  font-family: Arial, Helvetica, sans-serif;

  --rgb-1: 20, 120, 20;
  --rgb-2: 255, 255, 255;
  --opacity-min: .06;
  --opacity-mid: .4;
  --opacity-max: .6;
  --ui-size: 38px;
  --ui-radius: 4px;
  --ui-transition: .2s;
  --ui-shadow: 0 3px 12px rgba(var(--rgb-1), var(--opacity-mid));
  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;
  --line-width: 1px;
}

* {
  box-sizing: border-box;
}

upload-source-select {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: var(--line-width) solid rgba(var(--rgb-1), var(--opacity-mid));
  border-radius: var(--ui-radius);
  cursor: pointer !important;
  transition: var(--ui-transition);
}
upload-source-select:hover {
  border: var(--line-width) solid rgba(var(--rgb-1), 1);
}

upload-source-select > button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  border: none;
  border-right: var(--line-width) dashed rgba(var(--rgb-1), var(--opacity-mid));
  padding-left: 1em;
  outline: none;
  font-family: inherit;
}

upload-source-select > label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  padding-right: 0.8em;
}

upload-source-select select {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  padding-left: 0.4em;
  padding-right: 0.4em;
  border: none;
  outline: none;
  font-family: inherit;
}

upload-source-select option {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--rgb-1));
  padding-left: 0.8em;
  padding-right: 0.4em;
  border: none;
  outline: none;
}

modal-win {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--rgb-1), var(--opacity-mid));
  color: rgb(var(--rgb-1));
  padding: var(--gap-mid);
  z-index: 10000;
  transition: opacity .4s;
}
modal-win:not([active]) {
  opacity: 0;
  visibility: hidden;
}
modal-win button[close-btn] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--ui-size);
  width: var(--ui-size);
  background-color: rgba(var(--rgb-1), var(--opacity-min));
  border-radius: var(--ui-radius);
  border: none;
  cursor: pointer;
}
modal-win button[close-btn]::before {
  content: 'âŒ';
  filter: grayscale(0.6);
  font-size: 0.9em;
}
modal-win > [dialog-el] {
  background-color: rgb(var(--rgb-2));
  box-shadow: var(--ui-shadow);
  padding: var(--gap-mid);
  border-radius: var(--ui-radius);
  min-width: 320px;
  min-height: var(--ui-size);
}
modal-win [heading-el] {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: var(--gap-max);
  line-height: var(--ui-size);
}
modal-win [caption-el] {
  font-size: 1.1em;
}
modal-win [content-el] {
  margin-top: var(--gap-mid);
}

upload-list {
  display: grid;
  transition: opacity var(--ui-transition);
}
upload-list:not([active]) {
  display: none;
}
upload-list [files-el] {
  display: grid;
  margin-bottom: var(--gap-mid);
}
upload-list [upload-btn] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--rgb-1), var(--opacity-min));
  color: rgb(var(--rgb-1));
  border: var(--line-width) solid currentColor;
  height: var(--ui-size);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: var(--ui-radius);
  font-family: inherit;
  cursor: pointer;
}

file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--ui-size);
  transition: var(--ui-transition);
  padding-left: 1em;
  padding-right: var(--gap-mid);
}
file-item:nth-child(odd) {
  background-color: rgba(var(--rgb-1), var(--opacity-min));
}
file-item [img-mark-el] {
  opacity: var(--opacity-mid);
  margin-left: var(--gap-max);
}
file-item:hover [img-mark-el] {
  opacity: 1;
}

url-source:not([active]) {
  display: none;
}


