uc-activity-header {
  display: flex;
  justify-content: space-between;
  gap: var(--uc-padding);
  padding: var(--uc-padding);
  color: var(--uc-foreground);
  font-weight: 500;
  font-size: 1em;
}

uc-activity-header > * {
  display: flex;
  align-items: center;
}
