.uc-wgt-cfg, .uc-wgt-common, :host {
  --ctx-name: 'my-uploader';

  --cfg-pubkey: 'demopublickey';
  --cfg-multiple: 1;
  --cfg-confirm-upload: 1;
  --cfg-img-only: 0;
  --cfg-accept: '';
  --cfg-store: 1;
  --cfg-camera-mirror: 0;
  --cfg-source-list: 'local, url, camera, dropbox, gdrive, facebook';
  --cfg-max-files: 10;
  --cfg-max-local-file-size-bytes: 30000;
  --cfg-thumb-size: 76;
  --cfg-show-empty-list: 1;
  --cfg-use-local-image-editor: 0;
  --cfg-use-cloud-image-editor: 0;
}
