@import url('../../../blocks/themes/lr-basic/index.css');

:host {
  flex: 1;
}

lr-start-from {
  height: 100%;
  container-type: inline-size;
}

.lr-wgt-common,
:host {
  --cfg-done-activity: 'start-from';
  --cfg-init-activity: 'start-from';
}

lr-activity-header::after {
  width: var(--ui-size);
  height: var(--ui-size);
  content: '';
}

lr-activity-header .close-btn {
  display: none;
}

@container (min-width: 500px) {
  lr-start-from .content {
    grid-template-columns: 1fr max-content;
    height: 100%;
  }

  lr-start-from lr-copyright {
    grid-column: 2;
  }

  lr-start-from lr-drop-area {
    grid-row: span 3;
  }

  lr-start-from:has(lr-copyright[hidden]) lr-drop-area {
    grid-row: span 2;
  }

  lr-start-from:has(.cancel-btn[hidden]) lr-drop-area {
    grid-row: span 2;
  }

  lr-start-from:has(lr-copyright[hidden]):has(.cancel-btn[hidden]) lr-drop-area {
    grid-row: span 1;
  }
}
