uc-simple-btn {
  display: inline-flex;
  position: relative;
}
uc-simple-btn button {
  color: var(--clr-btn-txt-secondary);
  background-color: var(--clr-btn-bgr-secondary);
  padding-left: 0.2em;
  box-shadow: var(--shadow-btn-secondary);
}
uc-simple-btn button:hover {
  background-color: var(--clr-btn-bgr-secondary-hover);
}
uc-simple-btn button:active {
  background-color: var(--clr-btn-bgr-secondary-active);
}

