lr-modal {
  --modal-max-content-height: calc(var(--uploadcare-blocks-window-height, 100vh) - 4 * var(--gap-mid) - var(--ui-size));
  --modal-content-height-fill: var(--uploadcare-blocks-window-height, 100vh);
}

lr-modal[dialog-fallback] {
  --lr-z-max: 2147483647;

  position: fixed;
  z-index: var(--lr-z-max);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  inset: 0;
}

lr-modal[dialog-fallback] dialog[open] {
  z-index: var(--lr-z-max);
  pointer-events: auto;
}

lr-modal[dialog-fallback] dialog[open] + .backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: calc(var(--lr-z-max) - 1);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-curtain);
  pointer-events: auto;
}

lr-modal[strokes][dialog-fallback] dialog[open] + .backdrop {
  background-image: var(--modal-backdrop-background-image);
}

@supports selector(dialog::backdrop) {
  lr-modal > dialog::backdrop {
    /* backdrop don't inherit theme properties */
    background-color: rgba(0, 0, 0, 10%);
  }
  lr-modal[strokes] > dialog::backdrop {
    /* TODO: it's not working, fix it */
    background-image: var(--modal-backdrop-background-image);
  }
}

lr-modal > dialog[open] {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

lr-modal > dialog:not([open]) {
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}

lr-modal > dialog {
  display: flex;
  flex-direction: column;

  /* there was `fit-content` but it doesn't reduce width after activity change */
  width: max-content;
  max-width: min(calc(100% - var(--gap-mid) * 2), calc(var(--modal-max-w) - var(--gap-mid) * 2));
  min-height: var(--ui-size);
  max-height: calc(var(--modal-max-h) - var(--gap-mid) * 2);
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: var(--clr-background-light);
  border: 0;
  border-radius: var(--border-radius-frame);
  box-shadow: var(--modal-shadow);
  transition: transform calc(var(--transition-duration) * 2);
}

@media only screen and (max-width: 430px), only screen and (max-height: 600px) {
  lr-modal > dialog > .content {
    height: var(--modal-max-content-height);
  }
}
