lr-modal {
  --modal-max-content-height: calc(var(--uploadcare-blocks-window-height, 100vh) - 4 * var(--gap-mid) - var(--ui-size));
  --modal-content-height-fill: var(--uploadcare-blocks-window-height, 100vh);
}

lr-modal[dialog-fallback] {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-curtain);
}

lr-modal[dialog-fallback][strokes] {
  background-image: var(--modal-backdrop-background-image);
}

@supports selector(.dialog::backdrop) {
  lr-modal > .dialog::backdrop {
    /* backdrop don't inherit theme properties */
    background-color: rgba(247 247 248 60%);
  }
  lr-modal[strokes] > .dialog::backdrop {
    /* TODO: it's not working, fix it */
    background-image: var(--modal-backdrop-background-image);
  }
}

lr-modal > .dialog:not([open]) {
  visibility: hidden;
  opacity: 0;
}

lr-modal button.close-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-txt-mid);
}

lr-modal button.close-btn:hover {
  background-color: var(--clr-background);
}

lr-modal button.close-btn:active {
  background-color: var(--clr-background-dark);
}

lr-modal > .dialog {
  display: flex;
  flex-direction: column;

  /* there was `fit-content` but it doesn't reduce width after activity change */
  width: max-content;
  max-width: min(calc(100% - var(--gap-mid) * 2), calc(var(--modal-max-w) - var(--gap-mid) * 2));
  min-height: var(--ui-size);
  max-height: calc(var(--modal-max-h) - var(--gap-mid) * 2);
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: var(--clr-background-light);
  border: 0;
  border-radius: var(--border-radius-frame);
  box-shadow: var(--modal-shadow);
  transition: transform calc(var(--transition-duration) * 2);
}

@media only screen and (max-width: 430px), only screen and (max-height: 600px) {
  lr-modal > .dialog > .content {
    height: var(--modal-max-content-height);
  }
}

lr-modal .dialog:not([open]) {
  transform: translateY(20px);
}
