uc-tabs {
  color: var(--clr-1);
}

uc-tabs > .tabs-row {
  display: flex;
  grid-template-columns: minmax();
}

uc-tabs .tabs-row > .tab {
  flex-grow: 1;
  height: var(--ui-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: .4s;
  opacity: 0.6;
}
uc-tabs .tabs-row > .tab[current] {
  border-bottom: 2px solid currentColor;
  opacity: 1;
}