uc-tabs {
  color: var(--clr-txt-lightest);
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
}

uc-tabs > .tabs-row {
  display: flex;
  grid-template-columns: minmax();
  background-color: var(--clr-background-light);
}

uc-tabs .tabs-row > .tab {
  flex-grow: 1;
  height: var(--ui-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: var(--border-light);
  transition: var(--ui-transition);
}
uc-tabs .tabs-row > .tab[current] {
  border-color: var(--clr-txt);
  color: var(--clr-txt);
}