uc-upload-details {
  --activity-desired-w: 100%;
  --activity-desired-h: var(--modal-max-h);

  position: relative;
  display: block;
}

uc-upload-details > .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: auto min-content;
}

uc-upload-details .viewport {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background);
  height: 100%;
}

uc-upload-details .toolbar {
  border-top: var(--border-light);
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  gap: var(--gap-mid);
  padding: var(--gap-mid);
}

uc-upload-details .back-btn {
  /* nothing to say */
}
uc-upload-details .remove-btn {
  padding-left: 0.5em;
}
uc-upload-details .detail-btn {
  background-color: var(--clr-background);
  color: var(--clr-txt);
  padding-left: 0;
}
uc-upload-details .edit-btn {
  padding-left: 0.5em;
}

uc-upload-details .details {
  padding: var(--gap-max);
}

uc-upload-details .info-block {
  padding-top: var(--gap-max);
  padding-bottom: var(--gap-max);
  color: var(--clr-txt);
  border-bottom: var(--border-light);
}
uc-upload-details .info-block:first-of-type {
  padding-top: 0;
}
uc-upload-details .info-block:last-of-type {
  border-bottom: none;
}


uc-upload-details .info-block > .info-block_name {
  font-size: 0.8em;
  margin-bottom: 0.4em;
  color: var(--clr-txt-light);
}
