uc-upload-details {
  position: relative;
  display: block;
  min-height: 450px;
  height: 100%;
  display: grid;
  grid-template-rows: auto min-content;
}

uc-upload-details uc-tabs .tabs-context {
  position: relative;
}

uc-upload-details .toolbar {
  border-top: var(--border-light);
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  gap: var(--gap-mid);
  padding: var(--gap-mid);
}

uc-upload-details .remove-btn {
  padding-left: 0.5em;
}
uc-upload-details .detail-btn {
  background-color: var(--clr-background);
  color: var(--clr-txt);
  padding-left: 0;
}
uc-upload-details .edit-btn {
  padding-left: 0.5em;
}

uc-upload-details .details {
  padding: var(--gap-max);
}

uc-upload-details .info-block {
  padding-top: var(--gap-max);
  padding-bottom: var(--gap-max);
  color: var(--clr-txt);
  border-bottom: var(--border-light);
}
uc-upload-details .info-block:first-of-type {
  padding-top: 0;
}
uc-upload-details .info-block:last-of-type {
  border-bottom: none;
}

uc-upload-details .info-block > .info-block_name {
  font-size: 0.8em;
  margin-bottom: 0.4em;
  color: var(--clr-txt-light);
}
