lr-confirmation-dialog {
  display: block;
  padding: 20px var(--uc-padding) var(--uc-padding);
}

lr-confirmation-dialog .message {
  display: flex;
  justify-content: center;
  padding: var(--uc-padding) var(--uc-padding) 20px;
  font-weight: 500;
  font-size: 1.1em;
}

lr-confirmation-dialog .toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--uc-padding);
  margin-top: var(--uc-padding);
}
