uc-confirmation-dialog {
  display: block;
  padding: var(--gap-mid);
  padding-top: var(--gap-max);
}

uc-confirmation-dialog .message {
  display: flex;
  font-size: 1.1em;
  font-weight: 500;
  justify-content: center;
  padding: var(--gap-mid);
  padding-bottom: var(--gap-max);
}

uc-confirmation-dialog .toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-mid);
  margin-top: var(--gap-mid);
}
