uc-file-item {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto min-content min-content;
  transition: var(--transition-duration);
  padding: var(--gap-mid);
  background-color: transparent;
  border-bottom: var(--border-light);
}
uc-file-item:last-of-type {
  border-bottom: none;
}
uc-file-item:hover {
  background-color: var(--clr-background);
}
uc-file-item[focused] {
  background-color: transparent;
}
uc-file-item[uploading] .edit-btn {
  display: none;
}
uc-file-item[error] {
  background-color: var(--clr-error-lightest);
}

uc-file-item .thumb {
  display: inline-flex;
  position: relative;
  height: var(--ui-size);
  width: var(--ui-size);
  background-color: var(--clr-shade-lv1);
  background-size: cover;
  background-position: center center;
  border-radius: var(--border-radius);
}
uc-file-item .file-name {
  display: flex;
  align-items: center;
  padding-left: var(--gap-mid);
  padding-right: var(--gap-mid);
  color: var(--clr-txt);
  opacity: var(--opacity-max);
}
uc-file-item:hover .file-name {
  opacity: 1;
}
uc-file-item button {
  width: var(--ui-size);
  height: var(--ui-size);
  background-color: transparent;
  color: var(--clr-txt);
  cursor: pointer;
}
uc-file-item .edit-btn {
  padding: 0;
  opacity: var(--opacity-mid);
}
uc-file-item:hover .edit-btn {
  opacity: 1;
}
uc-file-item[focused] .edit-btn {
  opacity: 1;
}
uc-file-item .progress {
  position: absolute;
  pointer-events: none;
  top: calc(100% - 2px);
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 1;
  background-color: var(--clr-accent-light);
  transition: 0.6s;
}
uc-file-item[error] .badge,
uc-file-item[loaded] .badge {
  display: block;
}
uc-file-item .badge {
  display: none;
  position: absolute;
  top: calc(var(--ui-size) * -0.15);
  right: calc(var(--ui-size) * -0.15);
  height: calc(var(--ui-size) * 0.42);
  width: calc(var(--ui-size) * 0.42);
  background-color: var(--clr-txt);
  color: var(--clr-background-light);
  border-radius: 50%;
}
uc-file-item[loaded] .badge {
  background-color: var(--clr-confirm);
}
uc-file-item[error] .badge {
  background-color: var(--clr-error);
}
uc-file-item .badge uc-icon, 
uc-file-item .badge uc-icon svg {
  width: 100%;
  height: 100%;
}

/* inside drop-area */

uc-drop-area uc-file-item {
  background-color: var(--clr-shade-lv1);
  border-radius: var(--border-radius-mid);
}
uc-drop-area uc-file-item:hover {
  background-color: var(--clr-shade-lv2);
}
