uc-external-source {
  display: grid;
  grid-template-rows: auto min-content;
  position: relative;
  height: var(--activity-h);
}

uc-external-source iframe {
  display: block;
  border: none;
  height: 100%;
  width: 100%;
}

uc-external-source .toolbar {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  padding: var(--gap-mid);
  grid-gap: var(--gap-mid);
  align-items: center;
  border-top: var(--border-light);
}

uc-external-source .back-btn {
  padding-left: 0;
}

uc-external-source .back-btn::after {
  content: var(--l10n-back);
}

uc-external-source .selected-counter {
  display: flex;
  justify-content: space-between;
  padding: var(--gap-mid);
  grid-gap: var(--gap-mid);
  align-items: center;
}
