lr-upload-list {
  display: flex;
  flex-direction: column;

  /* height: 100%; - this breaks inner modal layout height in Safari */
  max-height: 100%;
  overflow: hidden;
  background-color: var(--clr-background-light);
  transition: opacity var(--transition-duration);
}

lr-upload-list .no-files {
  height: var(--file-item-height);
  padding: var(--gap-max);
}

lr-upload-list .files {
  display: block;
  overflow: auto;
}

lr-upload-list .toolbar {
  display: flex;
  gap: var(--gap-mid);
  justify-content: space-between;
  padding: var(--gap-mid);
  background-color: var(--clr-background);
  border-top: var(--border-light);
}

lr-upload-list .toolbar-spacer {
  flex: 1;
}
