lr-upload-list {
  display: flex;
  flex-direction: column;
  max-height: var(--modal-max-content-height);
  overflow: hidden;
  background-color: var(--clr-background-light);
  transition: opacity var(--transition-duration);
}

lr-upload-list .no-files {
  height: var(--file-item-height);
  padding: var(--gap-max);
}

lr-upload-list .files {
  display: block;
  padding: 0 var(--gap-mid);
  overflow: auto;
}

lr-upload-list .toolbar {
  display: flex;
  gap: var(--gap-mid);
  justify-content: space-between;
  padding: var(--gap-mid);
  background-color: var(--clr-background-light);
}

lr-upload-list .toolbar-spacer {
  flex: 1;
}
