lr-upload-list {
  display: flex;
  flex-direction: column;
  max-height: var(--modal-max-content-height);
  overflow: hidden;
  background-color: var(--clr-background-light);
  transition: opacity var(--transition-duration);
}

lr-upload-list .no-files {
  height: var(--file-item-height);
  padding: var(--gap-max);
}

lr-upload-list .files {
  display: block;
  padding: 0 var(--gap-mid);
  overflow: auto;
}

lr-upload-list .toolbar {
  display: flex;
  gap: var(--gap-small);
  justify-content: space-between;
  padding: var(--gap-mid);
  background-color: var(--clr-background-light);
}

lr-upload-list .toolbar-spacer {
  flex: 1;
}

lr-upload-list lr-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--gap-mid) * 2);
  height: calc(100% - var(--gap-mid) * 2);
  margin: var(--gap-mid);
  border-radius: var(--border-radius-element);
}
