lr-upload-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--clr-background-light);
  transition: opacity var(--transition-duration);
}

lr-modal lr-upload-list {
  width: min(calc(var(--modal-normal-w) - var(--gap-mid) * 2), calc(100vw - var(--gap-mid) * 2));
  max-height: var(--modal-max-content-height);
}

lr-upload-list .no-files {
  height: var(--ui-size);
  padding: var(--gap-max);
}

lr-upload-list .files {
  display: block;
  flex: 1;
  min-height: var(--ui-size);
  padding: 0 var(--gap-mid);
  overflow: auto;
}

lr-upload-list .toolbar {
  display: flex;
  gap: var(--gap-small);
  justify-content: space-between;
  padding: var(--gap-mid);
  background-color: var(--clr-background-light);
}

lr-upload-list .toolbar .add-more-btn {
  padding-left: 0.2em;
}

lr-upload-list .toolbar-spacer {
  flex: 1;
}

lr-upload-list lr-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--gap-mid) * 2);
  height: calc(100% - var(--gap-mid) * 2);
  margin: var(--gap-mid);
  border-radius: var(--border-radius-element);
}

lr-upload-list lr-activity-header > .header-text {
  padding: 0 var(--gap-mid);
}
