uc-upload-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  overflow: hidden;
  background-color: var(--uc-background);
  transition: opacity var(--uc-transition);
}

uc-upload-list .uc-no-files {
  height: 32px;
  padding: 20px;
}

uc-upload-list .uc-files {
  display: block;
  flex: 1;
  min-height: 32px;
  padding: 0 var(--uc-padding);
  overflow: auto;
}

uc-upload-list .uc-toolbar {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  padding: var(--uc-padding);
  background-color: var(--uc-background);
}

uc-upload-list .uc-toolbar-spacer {
  flex: 1;
}

uc-upload-list uc-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--uc-padding) * 2);
  height: calc(100% - var(--uc-padding) * 2);
  margin: var(--uc-padding);
  border-radius: var(--uc-radius);
}

uc-upload-list uc-activity-header > .uc-header-text {
  padding: 0 var(--uc-padding);
}

uc-upload-list .uc-common-error {
  border-radius: var(--uc-radius);
  color: var(--uc-destructive-foreground);
  background-color: var(--uc-destructive);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--uc-padding);
  margin: 4px var(--uc-padding) 0 var(--uc-padding);
  font-size: 0.925em;
}

uc-upload-list .uc-add-more-btn uc-icon {
  display: none;
}
