lr-upload-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--uc-background);
  transition: opacity var(--uc-transition);
}

[lr-modal] lr-upload-list {
  width: min(calc(var(--uc-dialog-width) - var(--uc-padding) * 2), calc(100vw - var(--uc-padding) * 2));
  height: max-content;
  max-height: var(--modal-max-content-height);
}

lr-upload-list .no-files {
  height: 32px;
  padding: 20px;
}

lr-upload-list .files {
  display: block;
  flex: 1;
  min-height: 32px;
  padding: 0 var(--uc-padding);
  overflow: auto;
}

lr-upload-list .toolbar {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  padding: var(--uc-padding);
  background-color: var(--uc-background);
}

lr-upload-list .toolbar-spacer {
  flex: 1;
}

lr-upload-list lr-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--uc-padding) * 2);
  height: calc(100% - var(--uc-padding) * 2);
  margin: var(--uc-padding);
  border-radius: var(--uc-radius);
}

lr-upload-list lr-activity-header > .header-text {
  padding: 0 var(--uc-padding);
}

lr-upload-list .common-error {
  border-radius: var(--uc-radius);
  color: var(--uc-destructive-foreground);
  background-color: var(--uc-destructive);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--uc-padding);
  margin: 4px var(--uc-padding) 0 var(--uc-padding);
  font-size: 0.925em;
}

lr-upload-list .add-more-btn lr-icon {
  display: none;
}
