lr-file-item > .inner {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto min-content min-content;
  margin-bottom: calc(var(--gap-mid) / 2);
  padding: var(--gap-mid);
  overflow: hidden;
  font-size: 0.95em;
  background-color: var(--clr-background);
  border-radius: var(--border-radius-element);
  transition: var(--transition-duration);
}

lr-file-item:last-of-type > .inner {
  margin-bottom: 0;
}

lr-file-item:hover > .inner {
  background-color: var(--clr-background);
}

lr-file-item > .inner[focused] {
  background-color: transparent;
}

lr-file-item > .inner[uploading] .edit-btn {
  display: none;
}

lr-file-item > .inner[failed] {
  background-color: var(--clr-error-lightest);
}

lr-file-item .thumb {
  position: relative;
  display: inline-flex;
  width: var(--ui-size);
  height: var(--ui-size);
  background-color: var(--clr-shade-lv1);
  background-position: center center;
  background-size: cover;
  border-radius: var(--border-radius-thumb);
}

lr-file-item .file-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  padding-right: var(--gap-mid);
  padding-left: var(--gap-mid);
  overflow: hidden;
  color: var(--clr-txt);
}

lr-file-item .file-name {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

lr-file-item button {
  width: var(--ui-size);
  height: var(--ui-size);
  padding: 0;
  color: var(--clr-txt-light);
  background-color: transparent;
  cursor: pointer;
  opacity: var(--opacity-normal);
  transition: opacity var(--transition-duration);
}

lr-file-item .upload-btn {
  display: none;
}

lr-file-item button:hover {
  opacity: var(--opacity-hover);
}

lr-file-item .badge {
  position: absolute;
  top: calc(var(--ui-size) * -0.15);
  right: calc(var(--ui-size) * -0.15);
  display: none;
  width: calc(var(--ui-size) * 0.42);
  height: calc(var(--ui-size) * 0.42);
  color: var(--clr-background-light);
  background-color: var(--clr-txt);
  border-radius: 50%;
}

lr-file-item > .inner[failed] .badge,
lr-file-item > .inner[finished] .badge {
  display: block;
}

lr-file-item > .inner[finished] .badge {
  background-color: var(--clr-confirm);
}

lr-file-item > .inner[failed] .badge {
  background-color: var(--clr-error);
}

lr-file-item .badge lr-icon,
lr-file-item .badge lr-icon svg {
  width: 100%;
  height: 100%;
}

lr-file-item .progress-bar {
  top: calc(100% - 2px);
  height: 2px;
}
