lr-file-item {
  display: block;
}
lr-file-item > .inner {
  position: relative;
  display: grid;
  grid-template-columns: 32px 1fr max-content;
  gap: var(--gap-min);
  align-items: center;
  margin-bottom: var(--gap-small);
  padding: var(--gap-mid);
  overflow: hidden;
  font-size: 0.95em;
  background-color: var(--clr-background);
  border-radius: var(--border-radius-element);
  transition: var(--transition-duration);
}

lr-file-item:last-of-type > .inner {
  margin-bottom: 0;
}

lr-file-item > .inner[focused] {
  background-color: transparent;
}

lr-file-item > .inner[uploading] .edit-btn {
  display: none;
}

lr-file-item > :where(.inner[failed], .inner[limit-overflow]) {
  background-color: var(--clr-error-lightest);
}

lr-file-item .thumb {
  position: relative;
  display: inline-flex;
  width: var(--ui-size);
  height: var(--ui-size);
  background-color: var(--clr-shade-lv1);
  background-position: center center;
  background-size: cover;
  border-radius: var(--border-radius-thumb);
}

lr-file-item .file-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  padding-right: var(--gap-mid);
  padding-left: var(--gap-mid);
  overflow: hidden;
  color: var(--clr-txt-light);
  transition: color var(--transition-duration);
}

lr-file-item .file-name {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

lr-file-item .file-error {
  display: none;
  color: var(--clr-error);
  font-size: 0.85em;
  line-height: 130%;
}

lr-file-item button.remove-btn,
lr-file-item button.edit-btn {
  color: var(--clr-txt-lightest) !important; /* todo: remove after refactoring of common.css */
}

lr-file-item button.upload-btn {
  display: none;
}

lr-file-item button:hover {
  color: var(--clr-txt-light);
}

lr-file-item .badge {
  position: absolute;
  top: calc(var(--ui-size) * -0.13);
  right: calc(var(--ui-size) * -0.13);
  width: calc(var(--ui-size) * 0.44);
  height: calc(var(--ui-size) * 0.44);
  color: var(--clr-background-light);
  background-color: var(--clr-txt);
  border-radius: 50%;
  transform: scale(0.3);
  opacity: 0;
  transition: var(--transition-duration) ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

lr-file-item > .inner:where([failed], [limit-overflow], [finished]) .badge {
  transform: scale(1);
  opacity: 1;
}

lr-file-item > .inner[finished] .badge {
  background-color: var(--clr-confirm);
}

lr-file-item > .inner:where([failed], [limit-overflow]) .badge {
  background-color: var(--clr-error);
}

lr-file-item > .inner:where([failed], [limit-overflow]) .file-error {
  display: block;
}

lr-file-item .badge lr-icon,
lr-file-item .badge lr-icon svg {
  width: 100%;
  height: 100%;
}

lr-file-item .progress-bar {
  top: calc(100% - 2px);
  height: 2px;
}

lr-file-item .file-actions {
  display: flex;
  gap: var(--gap-min);
  align-items: center;
  justify-content: center;
}
