lr-file-item {
  --uc-file-item-gap: 4px;
  --uc-file-item-height: calc(var(--uc-preview-size) + var(--uc-padding) * 2 + var(--uc-file-item-gap));

  display: block;
  overflow: hidden;
  content-visibility: auto;
  contain-intrinsic-size: auto var(--uc-file-item-height);

  /* 
  * This is workaround for chrome-based browsers.
  *
  * In some cases `content-visibility: auto` property works incorrectly together with IntersectionObserver API.
  * It causes the browser to render the element with a height of 0px instead `var(--uc-file-item-height)` value.
  * So we need to set 1px fallback to force the browser to render the element with the non-zero height.
  */
  min-height: var(--uc-file-item-height, 1px);
}

lr-file-item:last-of-type {
  --uc-file-item-gap: 0;
}

lr-file-item > .inner {
  position: relative;
  display: grid;
  grid-template-columns: var(--uc-preview-size) 1fr max-content;
  gap: 2px;
  align-items: center;
  margin-bottom: var(--uc-file-item-gap);
  padding: var(--uc-padding);
  overflow: hidden;
  font-size: 0.925em;
  background-color: var(--uc-muted);
  border-radius: var(--uc-radius);
  transition: background-color var(--uc-transition);
}

lr-file-item > .inner[focused] {
  background-color: transparent;
}

lr-file-item > .inner[uploading] .edit-btn {
  display: none;
}

lr-file-item > :where(.inner[failed], .inner[limit-overflow]) {
  background-color: var(--uc-destructive);
}

lr-file-item .thumb {
  position: relative;
  display: inline-flex;
  width: var(--uc-preview-size);
  height: var(--uc-preview-size);
  background-color: var(--uc-secondary);
  background-position: center center;
  background-size: cover;
  border-radius: var(--uc-radius);
}

lr-file-item .file-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  padding-right: var(--uc-padding);
  padding-left: var(--uc-padding);
  overflow: hidden;
  color: var(--uc-muted-foreground);
}

lr-file-item .file-name {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

lr-file-item .file-error {
  display: none;
  color: var(--uc-destructive-foreground);
  font-size: 0.85em;
}

lr-file-item button.remove-btn,
lr-file-item button.edit-btn {
  color: var(--uc-muted-foreground);
}

lr-file-item button svg {
  pointer-events: none;
}

lr-file-item button.upload-btn {
  display: none;
}

lr-file-item .badge {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 14px;
  height: 14px;
  color: var(--uc-background);
  background-color: var(--uc-foreground);
  border-radius: 50%;
  transform: scale(0.3);
  opacity: 0;
  transition:
    opacity var(--uc-transition),
    transform var(--uc-transition);
  display: flex;
  justify-content: center;
  align-items: center;
}

lr-file-item > .inner:where([failed], [limit-overflow], [finished]) .badge {
  transform: scale(1);
  opacity: 1;
}

lr-file-item > .inner:where([failed], [limit-overflow]) .badge {
  background-color: var(--uc-destructive-foreground);
}

lr-file-item > .inner:where([failed], [limit-overflow]) .file-error {
  display: block;
}

lr-file-item .badge lr-icon,
lr-file-item .badge lr-icon svg {
  width: 100%;
  height: 100%;
}

lr-file-item .progress-bar {
  opacity: 0.5;
  top: calc(100% - 2px);
  height: 2px;
}

lr-file-item .file-actions {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}
