@layer uc.components {
  uc-thumb {
    width: 100%;
    height: 100%;
  }

  .uc-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .uc-thumb__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
