uc-progress-bar-common {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: var(--clr-background);
  height: var(--gap-mid);
  z-index: 10000;
}

uc-progress-bar-common:not([active]) {
  opacity: 0;
}

uc-progress-bar-common .bar {
  position: absolute;
  width: 0;
  left: 0;
  height: 100%;
  background-color: var(--clr-accent);
  transition: 0.2s;
}
