uc-editable-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

uc-editable-canvas > .img-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

uc-editor-toolbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  overflow: hidden;
  pointer-events: none;
}

uc-editor-toolbar .btns {
  position: absolute;
  display: grid;
  left: var(--gap-mid);
  pointer-events: all;
}
uc-editor-toolbar .btns > button {
  display: inline-flex;
  width: var(--ui-size);
  height: var(--ui-size);
  border-radius: 0;
  background-color: var(--clr-background);
  color: var(--clr-txt);
}
uc-editor-toolbar .btns > button:first-of-type {
  border-top-left-radius: var(--border-radius-element);
  border-top-right-radius: var(--border-radius-element);
}
uc-editor-toolbar .btns > button:last-of-type {
  border-bottom-left-radius: var(--border-radius-element);
  border-bottom-right-radius: var(--border-radius-element);
}
uc-editor-toolbar .btns > button[current] {
  background-color: var(--clr-background);
  color: var(--clr-txt);
}

uc-editor-toolbar > uc-range {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  transition: .2s;
  pointer-events: all;
}
uc-editor-toolbar > uc-range:not([visible]) {
  transform: translateY(60px);
}
