@import url('../../../blocks/themes/lr-basic/config.css');

/* COMMON STYLES */
@import url('../../../blocks/themes/lr-basic/common.css');

/* THEME */
@import url('../../../blocks/themes/lr-basic/theme.css');

/* BLOCKS: */
@import url('../../../blocks/StartFrom/start-from.css');
@import url('../../../blocks/DropArea/drop-area.css');
@import url('../../../blocks/UploadList/upload-list.css');
@import url('../../../blocks/FileItem/file-item.css');
@import url('../../../blocks/Icon/icon.css');
@import url('../../../blocks/ProgressBar/progress-bar.css');
@import url('../../../blocks/Copyright/copyright.css');

/* ICONS: */
:where([lr-file-uploader-minimal]) {
  --cfg-init-activity: 'start-from';
  --cfg-done-activity: 'upload-list';

  position: relative;
  display: block;
}

[lr-file-uploader-minimal] lr-start-from .content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  overflow: hidden;
  align-items: center;
  background-color: transparent;
}

:where([lr-file-uploader-minimal] lr-drop-area) {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(var(--uc-preview-size) + var(--uc-padding) * 2 + 8px);
  padding: 0;
  line-height: 140%;
  text-align: center;
  background-color: var(--uc-muted);
  border-radius: calc(var(--uc-radius) * 1.75);
}

/* hack to make transparent :hover colors work in any conditions */
:where([lr-file-uploader-minimal] lr-drop-area)::before {
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--uc-background);
}

[lr-file-uploader-minimal] lr-upload-list lr-activity-header {
  display: none;
}

[lr-file-uploader-minimal] lr-upload-list > .toolbar {
  background-color: transparent;
}

[lr-file-uploader-minimal] lr-upload-list {
  width: 100%;
  height: unset;
  padding: 4px;
  background-color: var(--uc-background);
  border: 1px dashed var(--uc-border);
  border-radius: calc(var(--uc-radius) * 1.75);
}

[lr-file-uploader-minimal] lr-upload-list .files {
  padding: 0;
}

[lr-file-uploader-minimal] lr-upload-list .toolbar {
  display: block;
  padding: 0;
}

[lr-file-uploader-minimal] lr-upload-list .toolbar .cancel-btn,
[lr-file-uploader-minimal] lr-upload-list .toolbar .upload-btn,
[lr-file-uploader-minimal] lr-upload-list .toolbar .done-btn {
  display: none;
}

[lr-file-uploader-minimal] lr-upload-list .toolbar .add-more-btn {
  width: 100%;
  height: calc(var(--uc-preview-size) + var(--uc-padding) * 2);
  margin-top: 4px;
}

[lr-file-uploader-minimal] lr-upload-list .toolbar .add-more-btn[disabled] {
  display: none;
}

[lr-file-uploader-minimal] lr-upload-list .toolbar .add-more-btn > span {
  display: none;
}

[lr-file-uploader-minimal] lr-upload-list .toolbar .add-more-btn > lr-icon {
  display: flex;
}

[lr-file-uploader-minimal] lr-file-item .edit-btn {
  display: none;
}

[lr-file-uploader-minimal] lr-file-item lr-progress-bar {
  top: 0 !important;
  height: 100% !important;
}

[lr-file-uploader-minimal] lr-file-item lr-progress-bar .progress {
  background-color: var(--uc-primary-transparent);
  border-radius: var(--uc-radius);
}

[lr-file-uploader-minimal] lr-upload-list lr-drop-area {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: calc(var(--uc-radius) * 1.75);
}

[lr-file-uploader-minimal] lr-upload-list .common-error {
  margin: 4px 0 0;
}

[lr-file-uploader-minimal] lr-copyright .credits {
  position: static;
}
