lr-progress-bar-common {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: block;
  height: var(--gap-mid);
  background-color: var(--clr-background);
  transition: opacity 0.3s;
}

lr-progress-bar-common:not([active]) {
  opacity: 0;
  pointer-events: none;
}
