uc-progress-bar-common {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: block;
  height: 10px;
  background-color: var(--uc-background);
  transition: opacity 0.3s;
}

uc-progress-bar-common:not([active]) {
  opacity: 0;
  pointer-events: none;
}
