lr-drop-area {
  padding: var(--gap-min);
  overflow: hidden;
  border: var(--border-dashed);
  border-radius: var(--border-radius-frame);
  transition: var(--transition-duration) ease;
}

lr-drop-area,
lr-drop-area .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

lr-drop-area .text {
  position: relative;
  margin: var(--gap-mid);
  color: var(--clr-txt-light);
  transition: var(--transition-duration) ease;
}

lr-drop-area[ghost][drag-state='inactive'] {
  display: none;
  opacity: 0;
}

lr-drop-area[ghost]:not([fullscreen]):is([drag-state='active'], [drag-state='near'], [drag-state='over']) {
  background: var(--clr-background);
}

lr-drop-area[with-icon]
  > .content-wrapper:is([drag-state='active'], [drag-state='near'], [drag-state='over'])
  :is(.text, .icon-container) {
  color: var(--clr-accent);
}

lr-drop-area:is([drag-state='active'], [drag-state='near'], [drag-state='over'], :hover) {
  color: var(--clr-accent);
  background: var(--clr-accent-lightest);
  border-color: var(--clr-accent-light);
}

lr-drop-area:is([drag-state='active'], [drag-state='near']) {
  opacity: 1;
}

lr-drop-area[drag-state='over'] {
  border-color: var(--clr-accent);
  opacity: 1;
}

lr-drop-area[with-icon] {
  min-height: calc(var(--ui-size) * 6);
}

lr-drop-area[with-icon] .content-wrapper {
  display: flex;
  flex-direction: column;
}

lr-drop-area[with-icon] .text {
  color: var(--clr-txt);
  font-weight: 500;
  font-size: 1.1em;
}

lr-drop-area[with-icon] .icon-container {
  position: relative;
  width: calc(var(--ui-size) * 2);
  height: calc(var(--ui-size) * 2);
  margin: var(--gap-mid);
  overflow: hidden;
  color: var(--clr-txt);
  background-color: var(--clr-background);
  border-radius: 50%;
  transition: var(--transition-duration) ease;
}

lr-drop-area[with-icon] lr-icon {
  position: absolute;
  top: calc(50% - var(--ui-size) / 2);
  left: calc(50% - var(--ui-size) / 2);
  transition: var(--transition-duration) ease;
}

lr-drop-area[with-icon] lr-icon:last-child {
  transform: translateY(calc(var(--ui-size) * 1.5));
}

lr-drop-area[with-icon]:hover .icon-container,
lr-drop-area[with-icon]:hover .text {
  color: var(--clr-accent);
}

lr-drop-area[with-icon]:hover .icon-container {
  background-color: var(--clr-accent-lightest);
}

lr-drop-area[with-icon]
  > .content-wrapper:is([drag-state='active'], [drag-state='near'], [drag-state='over'])
  .icon-container {
  color: white;
  background-color: var(--clr-accent);
}

lr-drop-area[with-icon] > .content-wrapper:is([drag-state='active'], [drag-state='near'], [drag-state='over']) .text {
  color: var(--clr-accent);
}

lr-drop-area[with-icon]
  > .content-wrapper:is([drag-state='active'], [drag-state='near'], [drag-state='over'])
  lr-icon:first-child {
  transform: translateY(calc(var(--ui-size) * -1.5));
}

lr-drop-area[with-icon]
  > .content-wrapper:is([drag-state='active'], [drag-state='near'], [drag-state='over'])
  lr-icon:last-child {
  transform: translateY(0);
}

lr-drop-area[with-icon] > .content-wrapper[drag-state='near'] lr-icon:last-child {
  transform: scale(1.3);
}

lr-drop-area[with-icon] > .content-wrapper[drag-state='over'] lr-icon:last-child {
  transform: scale(1.5);
}

lr-drop-area[fullscreen] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - var(--gap-mid) * 2);
  height: calc(100vh - var(--gap-mid) * 2);
  margin: var(--gap-mid);
}

lr-drop-area[fullscreen] .content-wrapper {
  width: 100%;
  max-width: calc(var(--modal-normal-w) * 0.8);
  height: calc(var(--ui-size) * 6);
  color: var(--clr-txt);
  background-color: var(--clr-background-light);
  border-radius: var(--border-radius-frame);
  box-shadow: var(--modal-shadow);
  transition: var(--transition-duration) ease;
}

lr-drop-area[with-icon][fullscreen][drag-state='active'] > .content-wrapper,
lr-drop-area[with-icon][fullscreen][drag-state='near'] > .content-wrapper {
  transform: translateY(var(--gap-mid));
  opacity: 0;
}

lr-drop-area[with-icon][fullscreen][drag-state='over'] > .content-wrapper {
  transform: translateY(0px);
  opacity: 1;
}

:is(lr-drop-area[with-icon][fullscreen]) > .content-wrapper lr-icon:first-child {
  transform: translateY(calc(var(--ui-size) * -1.5));
}

lr-drop-area[clickable] {
  cursor: pointer;
}
