@layer uc.components {
  :is(uc-activity-header, .uc-ui-activity-header) {
    display: flex;
    justify-content: space-between;
    gap: var(--uc-padding);
    padding: var(--uc-padding);
    color: var(--uc-foreground);
    font-weight: 500;
    font-size: 1em;
  }

  :is(uc-activity-header, .uc-ui-activity-header) > * {
    display: flex;
    align-items: center;
  }

  :is(uc-activity-header, .uc-ui-activity-header) > div > uc-icon {
    width: auto;
  }

  :is(uc-activity-header, .uc-ui-activity-header) > div {
    gap: var(--uc-padding);
  }
}
