:where(.lr-cloud-image-editor, lr-cloud-image-editor) button {
  all: unset;
  border: none;
  display: flex;
  align-items: center;
  height: 100%;
}

:where(.lr-cloud-image-editor, lr-cloud-image-editor) button svg {
  width: 100%;
  height: 100%;
}

:where(lr-editor-button-control, lr-editor-crop-button-control, lr-editor-filter-control, lr-editor-operation-control)
  > button
  > lr-icon
  > svg {
  width: 20px;
  height: 20px;
}

lr-editor-button-control.active > button,
lr-editor-operation-control.active > button,
lr-editor-crop-button-control.active > button,
lr-editor-filter-control.active > button {
  --idle-color-rgb: var(--rgb-primary-accent);
}

lr-editor-button-control.not_active > button,
lr-editor-operation-control.not_active > button,
lr-editor-crop-button-control.not_active > button,
lr-editor-filter-control.not_active > button {
  --idle-color-rgb: var(--rgb-text-base);
}

lr-editor-button-control > button::before,
lr-editor-operation-control > button::before,
lr-editor-crop-button-control > button::before,
lr-editor-filter-control > button::before {
  position: absolute;
  content: '';
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-effect), var(--opacity-effect));
  border-radius: var(--border-radius-editor);
  transition: var(--transition-duration-3);
}

lr-editor-button-control > button .title,
lr-editor-operation-control > button .title,
lr-editor-crop-button-control > button .title,
lr-editor-filter-control > button .title {
  padding-right: var(--cldtr-gap-mid-1);
  font-size: 0.7em;
  letter-spacing: 1.004px;
  text-transform: uppercase;
}

lr-editor-filter-control > lr-icon.original-icon > svg {
  width: 100%;
  height: 100%;
}

lr-editor-filter-control.not_active .preview[loaded] {
  opacity: 1;
}

lr-editor-filter-control.active .preview {
  opacity: 0;
}

lr-editor-filter-control > button .preview {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: var(--l-base-height);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--border-radius-editor);
  opacity: 0;
  filter: brightness(var(--filter-effect));
  transition: var(--transition-duration-3);
}

lr-editor-filter-control > button .original-icon {
  color: var(--color-text-base);
  opacity: 0.3;
}

/* @TODO perhaps need to change */
lr-btn-ui[icon='closeMax'],
lr-btn-ui[icon='done'] {
  width: 40px;
}

[role='button']:focus-visible,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}
