:where([uc-cloud-image-editor]) uc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

:where([uc-cloud-image-editor]) uc-icon svg {
  width: calc(var(--uc-button-size) / 2);
  height: calc(var(--uc-button-size) / 2);
}
