/* stylelint-disable string-no-newline */
:host(.lr-cloud-image-editor) lr-icon,
.lr-cloud-image-editor lr-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

:host(.lr-cloud-image-editor) lr-icon svg,
.lr-cloud-image-editor lr-icon svg {
  width: 20px;
  height: 20px;
}
