:host(.lr-cloud-image-editor),
.lr-cloud-image-editor {
  --l10n-cancel: 'Cancel';
  --l10n-apply: 'Apply';
  --l10n-brightness: 'Brightness';
  --l10n-exposure: 'Exposure';
  --l10n-gamma: 'Gamma';
  --l10n-contrast: 'Contrast';
  --l10n-saturation: 'Saturation';
  --l10n-vibrance: 'Vibrance';
  --l10n-warmth: 'Warmth';
  --l10n-enhance: 'Enhance';
  --l10n-original: 'Original';
}
