uc-img {
  --uc-img-dev-mode: 0;
  --uc-img-pubkey: 'demopublickey';
  --uc-img-uuid: '';
  --uc-img-src: '';
  --uc-img-fallback-src: '';
  --uc-img-use-srcset: 1;
  --uc-img-alt-text: '';
  --uc-img-banner-text: '';
  --uc-img-placeholder-url: '';
  --uc-img-lazy: 1;
  --uc-img-step-px: 300;
  --uc-img-cdn-base: '';
  --uc-img-host: '';
  --uc-img-fade-in: 1;
  --uc-img-hi-resolution: 1;
  --uc-img-use-webp: 1;
  --uc-img-filters: '';
  --uc-img-class: '';
  --uc-img-progressive: 0;
  --uc-img-use-bg: 0;
}